#gameChat
{
	height: 100%;
	position: fixed;
	right: -100%;
	top: 0;
	width: 100%;
	z-index: 99999;
	display:none;
}

#chatWindows
{
	background: #FFFFFF;
  height: 100%;
  position: relative;
	opacity:0.9;
	top:5px;
}

#chatIndicator
{
	position: absolute;
	left:-24px;
	bottom:3px;
	background-image: url('/images/chat.png');
	width: 24px;
	height:24px;
	cursor:pointer;
}

#chatUsers
{
	float:right;
	width:30%;
	height:90%;
	background-image:  url('/images/backgrounds/triangles.png');
}

#chatUsers .chatUser
{
	background-color: #e3e9ef;
	border-radius: 10px;
	padding:3px;
	margin:2px;
	font-size: 12px;
}

#chatUsers .chatUserImg
{
	width:16px;
	height:16px;
	margin-left: 4px;
	float:left;
}

#chatUsers .viewNowPage
{
	color:#828790;
}

#chatMessages
{
	height:90%;
	overflow:auto;
	padding: 10px 0;
	border-right: 2px dotted #1e5799;
}

#chatMessages .chatMessageBlock
{
	background-color: #e3e9ef;
	border-radius: 10px;
	padding:6px;
	margin:5px;
}

#chatMessages .chatMessage
{
	padding:3px;
	margin:2px;
	-moz-user-select: text;
	-khtml-user-select: text;
	user-select: text;
}

#chatMessages .chatUserMessageImg
{
	float:left;
	width:22px;
	height:22px;
}

#chatMessages .chatMessageTime
{
	float:right;
	color:#828790;
	font-size: 12px;
}

#chatSendMessage
{
	padding:5px;
	border-top:2px dotted #1e5799;
}

#chatSendMessage #chatMessageText
{
	float: left;
	width: 88%;
	height: 55px;
}

#chatSendMessage #rightChatEnterBlock
{
	width: 11%;
	float: right;
	text-align: center;
	font-size: 12px;
	color:grey;
}