/*for maps*/
.ymaps-b-balloon__content-body
{
	overflow: auto !important;
}


/*for jqGrid*/
#sopt_menu
{
	z-index: 999;
}


/*reDeclareMenu*/
#mainPageContent
{
	background-image:  none;
	padding:5px 10px;
}

#mainPageContainer
{
	padding: 0;
	padding-left: 3px;
}

#authBlock
{
	position: fixed;
	left:-5px;
	display: block;
	z-index: 999;
	opacity: 0.9;
	width: 230px;
	height:75px;
	left:-238px;
	padding-right:15px;
	background-color: rgba(0,43,119,0.4);
	background-image:  url('/images/backgrounds/triangles.png');
}

#authSlider
{
	display: block;
	position:absolute;
	width:10px;
	float:right;
	height:80px;
	line-height:115%;
	font-size:16px;
	cursor: pointer;
	right:0;
	top:0;
	font-size:14px;
	padding:5px 4px;
	border-radius: 0 5px 5px 0;
}

#authSlider:hover
{
	background-color: rgba(0,43,119,0.65);
}


/*for game*/
label,
input[type="radio"],
input[type="checkbox"]
{
	cursor: pointer;
}

img
{
	opacity: 0.95;
}

img:hover
{
	opacity: 1;
	box-shadow: 0 0 5px -1px #00063c;
}

.rightBallonButton
{
	float: right;
	display: inline-block;
	width: 58px;
	font-size: 12px !important;
	font-weight: bold;
	text-align: left !important;
	margin-top: -2px;
}

.mapIconsButons
{
	background-color:rgba(150,150,150,0.35);
	border-radius: 10px;
}

.mapIconsButons.selected
{
	background-color:rgba(86,3,25,0.7);
}

.baloonInfoContent
{
	font-size: 13px;
	max-height: 9000px;
	overflow: auto;
	width: 450px;
}

.baloonInfoContent .addrBox
{
	width: 315px;
	float:left;
}

.baloonInfoContent .buyGeoObjectButton
{
	display: inline-block;
	float:right;
	background-color: #f7f7f7;
	border: 1px dotted #7f9db9;
	border-radius: 4px;
	cursor: pointer;
	padding:2px;
	width:58px;
}

.fullscreen
{
	position: fixed !important;
	display: block !important;
	top:0 !important;
	left:0 !important;
	width: 100% !important;
	height: 100% !important;
	z-index: 599 !important;
}

img.buildObject,
img.sellObject,
img.impObject,
img.rentObject,
img.destroyObject,
img.canselSellBuilding,
img.speedUpAction,
img.recalcObject
{
  width:26px;
  height:26px;
  cursor: pointer;
	margin: 0 2px;
}

img.canselSellBuilding
{
	border-radius: 12px;
}

img.canselOrder,
img.auctionActionClose
{
	border-radius: 10px;
}

img.geoObjIcon
{
	width:22px;
  height:22px;
	position:relative;
	top:5px;
	opacity: 1;
	box-shadow: none;
}

.mapIconsButons
{
	cursor: pointer;
	width:32px;
	height:32px;
}


.geoObjAddr
{
	min-height: 22px;
	max-width:440px;
}

.nonCollapsed .geoObjAddr
{
	max-width:370px !important;
}

.geoObjType
{
	font-style: italic;
	font-size: 12px;
}

.geoObjectInfo
{
	background-color: #d7effc;
	margin: 3px 0;
	cursor: pointer;
	padding: 5px;
	border: 1px dotted #7f9db9;
	border-radius: 3px;
}

.fullShow .geoObjectInfo
{
	background-color: white !important;
}

#messageWindow .geoObjectInfo
{
	background: none !important;
	border-width:0 !important;
	padding:0 !important;
	margin:0 !important;
}

.nonCollapsed
{
	background-color: #eff8fd;
	cursor: default;
}

.fullShow .geoObjectInfo .dopInfo
{
	display:block !important;
}

#YMapsID .geoObjectInfo .dopInfo
{
	display:none;
}

h4
{
	cursor: default;
	padding: 10px 0 5px 0;
	margin:0;
	text-align: center;
}

.buildedOnObject,
.buildedOnObject2
{
	margin: 5px;
	padding:7px;
	background-color: rgba(130, 170, 220, 0.75);

	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
	font-size:12px;
}

.buildedOnObject:hover,
.buildedOnObject2:hover
{
	background-color: rgb(130, 170, 220);
}

.buildedOnObject .objectTypeImg,
.buildedOnObject2 .objectTypeImg
{
	width:32px;
	height:32px;
	margin-right: 6px;
	float:left;
	cursor: default;
}

.buildedOnObject .objectTypeImg:hover,
.buildedOnObject2 .objectTypeImg:hover
{
	box-shadow: none;
}

.buildedOnObject .buildedName,
.buildedOnObject2 .buildedName
{
	font-weight: bold;
	font-size:16px;
}

.buildedOnObject span,
.buildedOnObject2 .span
{
	font-weight:bold;
}

.notEnoughMoney
{
	opacity: 0.65;
}


.spoilerContent
{
	display: none;
}
.center
{
	text-align: center;
}

#idsListForRent .rentProfit
{
	font-weight: bold;
	float: right;
}

#idsListForRent .hourIndicator
{
	width: 38px;
	height: 38px;
	float:left;
}

#idsListForRent .infoOfRent
{
	float: left;
}

#idsListForRent .rentToTime
{
	height: 40px;
	cursor: pointer;
	margin: 5px 0;
	border-radius: 10px;
	border:2px #DEE5EB dotted;
	padding:8px;
}

#idsListForRent .rentToTime:hover
{
	background-color: #d2dbe5;
}

.gameTextBlock
{
	margin: 0 -3px 5px 3px;
	background-color: rgba(239, 248, 253, 0.75);
	border-radius: 10px;
	padding: 2px 5px;
	box-shadow: 0 0 4px 0 #1A4780;
}

#actionsOfAllHouses
{
	height: 62px;
	font-size: 14px;
}

#actionsOfAllHouses .title
{
	margin:2px;
	padding:5px;
}

#actionsOfAllHouses .actions
{
	float:right;
	width: 45%;
	text-align: right;
}

#actionsOfAllHouses .actions img
{
	width: 26px;
	height:26px;
	cursor: pointer;
}

img.auctionActionBid,
img.auctionActionClose
{
	width:16px;
	height: 16px;
	cursor: pointer;
	margin: 0 3px;
}

#ratingTabs,
#exchangeTabs
{
	margin:0;
	padding:0 15px;
	font-size: 16px;
	border-bottom: 2px dashed #45688E;
}

#ratingTabs abbr,
#exchangeTabs abbr
{
	display: inline-block;
	position: relative;
	top:2px;
	margin:0;
	padding: 5px 15px;
	border:1px dotted #45688E;
	background-color: #eff8fd;
	text-align: center;
	cursor: pointer;
	border-bottom: 0;
	border-radius: 15px 15px 0 0;
	box-shadow: inset 2px 2px 5px 0 grey;
}

#ratingTabs abbr.selected,
#exchangeTabs abbr.selected
{
	border:1px dotted #45688E;
	background-color: #7f9db9;
	border-bottom: 2px solid #45688E;
	box-shadow: 0 0 5px 1px grey;
}

#exchangeContent #exchangeRows
{
	width: 100%;
}

#exchangeContent #exchangeRows td.half-size
{
	width: 50%;
	text-align: top;
	vertical-align: top;
}

#ratingDescription
{
	font-size:12px;
	width: 60%;
}

#ratingNavigation
{
	font-size:16px;
	height:50px;
	float: right;
	max-width: 38%;
}

#ratingNavigation img
{
	width:20px;
	height:20px;
	position:relative;
	top:5px;
	cursor: pointer;
}

#ratingPeoples .nowGamer
{
	display: block;
	margin:5px;
	padding:10px;
	border:1px dotted #45688E;
	border-radius: 10px;
	background-color: rgba(239, 248, 253, 0.95);
}

#ratingPeoples .nowGamer div
{
	display: inline-block;
}

#ratingPeoples .nowGamer .ratingPos
{
	width:35px;
}

#ratingPeoples .nowGamer .ratingValue
{
	float:right;
}

#ratingPeoples .nowGamer .gamerName
{
	font-weight: bold;
	font-size: 20px;
	padding-left: 55px;
}

#ratingPeoples .nowGamer .gamerName img
{
	opacity: 1;
	height: 42px;
  margin-left: -55px;
  margin-top: -9px;
  position: absolute;
  width: 42px;
}

#ratingPeoples .nowGamer .onlineStatus
{
	margin-left:15px;
	color:#43484d;
}

#creditsBuyOrders,
#creditsSellOrders
{
	width: 99.5%;
	padding: 0;
	display: inline-block;
	background-color: #eff8fd;
	border: 1px dashed #1c1c1c;
	border-radius: 5px;
}

#creditsSellOrders
{
	float:right;
}

#creditsBuyOrders table,
#creditsSellOrders table
{
	width:100%;
}

.creditOrder
{
	padding:5px;
	border: 1px black dotted;
	border-radius: 6px;
	margin: 3px 2px;
	background-color: #eff8fd;
}

img.exchangeAction
{
	width: 20px;
	height: 20px;
	cursor: pointer;
}

#creditsBuyOrders table td,
#creditsSellOrders table td
{
	padding: 2px 3px;
	text-align: center;
}

#creditsBuyOrders table td:first-child,
#creditsSellOrders table td:first-child
{
	text-align: left;
}

#creditsExchangeActions
{
	margin:3px 5%;
	padding:2px 5px;
	border: 1px dotted #45688E;
	background-color: rgba(127,157,185,0.7);
	text-align: center;
	border-radius: 10px;
}

#housesExchange
{
	width: 100%;
	margin:5px;
	background-color: #45688E;
	border-radius: 2px;
	padding:2px;
}

#housesExchange .center
{
	text-align: center;
}

#housesExchange td,
#housesExchange th
{
	background-color: #EFF8FD;
	border: 1px dotted #1e5799;
	border-top:1px dashed #1e5799;;
	border-bottom: 1px dashed #1e5799;
	border-radius: 5px;
	padding:2px 6px;
}

.buyHouse
{
	width:28px;
	height: 28px;
	position: relative;
	top:2px;
	cursor: pointer;
}

#buyCreditsButton
{
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	padding:3px 10px;
	margin:5px 10%;
	border-radius: 10px;
	background-color: #EFF8FD;
	border: 1px dashed #1e5799;
	cursor: pointer;
}

.goToMap
{
	position: relative;
	top:2px;
	width: 16px;
	height: 16px;
	cursor: pointer;
}


/*jqGrid reset*/
.ui-jqgrid td
{
	white-space: normal !important;
}

#tableForBuyManager,
#tableForTaxManager
{
	width: 100%;
}

#tableForBuyManager td,
#tableForTaxManager td
{
	text-align: center;
	border: 1px dashed #1e5799;
}

#tableForBuyManager tr:hover,
#tableForTaxManager tr:hover
{
	background-color: #f7f7f7;
}

input[type="button"]
{
	cursor: pointer;
}

#creditsExchangeBlock,
#buildsExchangeBlock
{
	overflow: hidden;
}

ul li
{
	font-size: 14px;
	font-weight: bold;
	margin: 5px 0;
}