#mainMenu
{
	width: 100%;
	min-width: 1000px;
	text-align: center;
	padding: 6px 0;
	margin-bottom: 5px;

	webkit-border-radius:0 0 5px 5px;
	-moz-border-radius:0 0 5px 5px;
	border-radius:0 0 5px 5px;
	background-image:  url('/images/backgrounds/clouds.png');
}

#mainMenu a
{
	display: inline-block;
	margin: 0 1px;
	padding: 12px 2px;
	width: 90px;
	text-decoration: none;
	color: #222222;
	font-size: 14px;
	font-weight: bold;
	background-color: #d1e1ff;

	box-shadow: inset 0 0 4px 1px #1a4780;

	-webkit-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	transition: all 0.4s ease;

	-webkit-border-radius:10px 20px;
	-moz-border-radius:10px 20px;
	border-radius:10px 20px;
}

#mainMenu a:hover, #mainMenu a.selected
{
	color: #f0f0f0;
	background-color: #08457e;

	box-shadow: 0 0 4px 1px #1a4780;

	-ms-transform: scale(1.15);
	-webkit-transform: scale(1.15);
	-o-transform: scale(1.15);
	-moz-transform: scale(1.15);
	transform: scale(1.15);

	-webkit-border-radius:20px 10px;
	-moz-border-radius:20px 10px;
	border-radius:20px 10px;
}

#mainMenu a.selected
{
	cursor: default;
}

#mainMenu #userData
{
	cursor: pointer;
}

#mainMenu #userData
{
	float:right;
	min-width: 50px;
	font-size: 12px;
	margin-top: -4px;
}

#mainMenu #userData div
{
	height:14px;
	text-align:left;
	margin:0;
	margin-bottom: 2px;
	padding:0;
}