html,body
{
	padding: 0;
	margin: 0;
}

body
{
	background-image:  url('/images/backgrounds/mainBackground.png');
}

abbr
{
	text-decoration: none;
	border-bottom: 1px dotted black;
}

*
{
	-moz-user-select: none;
	-khtml-user-select: none;
	user-select: none;
}

input,
textarea,
#messageError *,
#messageWindow *
{
	-moz-user-select: text;
	-khtml-user-select: text;
	user-select: text;
}

.hidden
{
	display:none;
}

.red
{
	color: #aa0028;
}

.green
{
	color: #006816;
}

button,
input[type="button"],
input[type="submit"],
.button
{
	font-weight: bold;
	text-align: center;
	padding:1px 5px;
	margin:0 1px;
	border-radius: 10px;
	background-color: #EFF8FD;
	border-width: 0;
	cursor: pointer;
	box-shadow: 1px 1px 4px 1px #1e5799;
}

button:hover,
input[type="button"]:hover,
input[type="submit"]:hover,
.button:hover
{
	box-shadow: inset 1px 1px 3px 1px #1e5799;
}

img.moneyIndicator
{
	width:12px;
	height:12px;
	cursor: default;
}

img.moneyIndicator:hover
{
	box-shadow: none;
}

#uLoginBlock
{
	margin-top: 15px;
}

#mainPageContainer
{
	position: absolute;
	padding-left: 310px;
}

#mainPageContent
{
	position:relative;
	margin:0 3px;
	padding:15px 10px;

	overflow: auto;

	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;

	font-size: 16px;

	z-index: 599;
}

#mainPageContent,
#authBlock,
#leftBlock
{
	background-image:  url('/images/backgrounds/putty.png');
	opacity: 0.95;
}

h1
{
	text-align: center;
	font-size: 36px;
	color: #121212;
	font-weight: bold;
}

ul li
{
	font-weight: bold;
	font-size: 18px;
	margin: 5px 0;
}

p
{
	text-indent: -10px;
	padding-left: 15px;
}

#authBlock
{
	position: relative;
	display: inline-block;
	margin: 2px 2px;
	padding: 7px;
	width: 293px;
	height: 70px;

	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;

	text-align: center;
	font-size: 13px;

	z-index: 10;
}

#authSlider
{
	display: none;
}

#vk_comments
{
	margin-top: 10px;
}

#authBlock a,
#authBlock span
{
	text-decoration: none;
	color: #222222;
	font-weight: bold;
}

#authBlock input
{
	color: #222222;
	border: 1px #222222 dotted;
	margin-top: 9px;
}

#leftBlock
{
	position: relative;
	width: 300px;
	padding: 3px;
	margin: 2px;
	margin-top:3px;

	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;

	z-index: 10;
}

#copyrightBlock
{
	width: 100%;
	padding:5px 0;
	display: block;
	position: absolute;
	bottom: 0;
	opacity: 0.8;
	text-align: center;

	webkit-border-radius:5px 5px 0 0;
	-moz-border-radius:5px 5px 0 0;
	border-radius:5px 5px 0 0;

	z-index:10;

	background-image:  url('/images/backgrounds/bricks.png');
}

#messageError
{
	display: none;
	position:absolute;
	top:20%;
	left:20%;
	width: 60%;
	min-height: 5%;
	z-index: 9999999;
	border-radius: 5px;
	padding:10px;
	background-image:  url('/images/backgrounds/squares.png');
	opacity: 0.9;
	box-shadow: 0 0 10px 3px #003366;
}

#messageError h1
{
	display: block;
	color: #e10810;
	font-size: 22px;
}

#messageError .closeErrorButton
{
	position: fixed;
	width:28px;
	height:28px;
	cursor: pointer;
	opacity: 0.85;
	box-shadow: 0 0 6px 1px grey;
	cursor: pointer;
	margin-left: 10px;
	margin-top: -15px;
	left: 80%;
	top: 20%;
	border-radius: 14px;
}

#messageError .closeErrorButton:hover
{
	opacity: 1;
	box-shadow: 0 0 6px 1px black;
}

#message
{
	z-index: 999999;
	display:none;
	position: fixed;
	width: 100%;
	height:100%;
	top:0;
	left:0;
	background-image:  url('/images/backgrounds/mainBackgroundTransparent.png');
}

#messageWindow
{
	overflow: auto;
	top:80px;
	margin:0 120px;
	background-color: white;
	padding:10px;
	position: absolute;
	background-image:  url('/images/backgrounds/squares.png');
	opacity: 0.9;
	box-shadow: 0 0 10px 3px #003366;
}

#messageWindow .closeMessageButton
{
	position: fixed;
	width:28px;
	height:28px;
	top:60px;
	cursor: pointer;
	opacity: 0.9;
	box-shadow: 0 0 6px 1px grey;
	right:105px;
	border-radius: 14px;
}

#messageWindow .closeMessageButton:hover
{
	opacity: 1;
	box-shadow: 0 0 6px 1px black;
}

#messageWindow .content
{
	width:100%;
	padding: 5px;
}

#userPaymentsHistory
{
	width: 100%;
}

#userPaymentsHistory td
{
	text-align: center;
}

/* for trackDuck*/

#trackduck .td_left_feedback_a
{
	padding: 8px 15px !important;
}

#td_left_feedback_div
{
	z-index:99 !important;
}

#userProfileImage
{
	min-width: 150px;
	max-width: 300px;
	max-height:300px;
	float:left;
}

#userSocialNetworkLink
{
	text-decoration: none;
}

#userSocialNetworkLink img
{
	width:36px;
	height: 36px;
	position: relative;
	top:15px;
	padding:0 5px;
}

#newUserName
{
	width:250px;
}

#lenghtNewUserName
{
	font-size:12px;
	color:#777777;
}

#printedUserName
{
	display:inline-block;
	font-size: 28px;
}

#userDatesInfo
{
	padding: 5px;
	margin-top:15px;
	font-size:18px;
}

#nowUserNameLength.red
{
	color:#ED1C24;
}

.openUserProfile,
a
{
	color:black;
	font-weight: bold;
	text-decoration: none;
	cursor: pointer;
}

.openUserProfile:hover,
a:hover
{
	text-decoration: underline;
	color:#003366;
}

.toTopContainer
{
	display: block;
	position: fixed;
	float:right;
	right:30px;
	background-color: rgba(190,190,255,0.25);
	border-radius: 10px;
	margin-top:-5px;
	padding: 3px 5px;
}

.toTopContainer:hover
{
	background-color: rgba(190,190,255,0.45);
}

.objectTypeImg,
.geoObjIcon
{
	width:20px;
	height:20px;
	position: relative;
	margin-right: 2px;
	top: 3px;
	cursor: default;
}

#helpObjsInfo
{
	max-width: 100%;
}

#helpObjsInfo *
{
	font-size: 13px;
}

#helpObjsInfo abbr,
.nowrap
{
	white-space: nowrap;
}

#helpObjsInfo tr
{
	border-radius: 3px;
	border: 1px dashed black;
}

#helpObjsInfo tr td,
#helpObjsInfo tr th
{
	border-radius: 6px;
	border: 1px dotted black;
}

abbr
{
	cursor: help;
}

#calcedHouseForm .aligment,
#calcedHouseResult .aligment
{
	position: absolute;
	left:170px;
}

#calcedHouseForm input,
#calcedHouseResult input
{
	width: 150px;
}