#mbmcpebul_table {
  margin: 0px;
  padding: 0px;
  line-height: 0px;
  font-size: 0px;
  display: inline-block;
}

#mbmcpebul_table li a {
  line-height: 40px;
  font-size: 23px;
  font-family: "Segoe Print",sans-serif;
  text-decoration: none;
  color: #FFFFFF;
  font-style: normal;
  font-weight: bold;
  padding: 15px;
  display: block;
  cursor: pointer;
  white-space: nowrap;
}

#mbmcpebul_table li div.buttonbg {
  height: 70px;
  width: 250px;
  line-height: 0;
  background-color: transparent;
  border-style: solid;
  border-color: #800421;
  border-width: 0;
  border-radius: 0;
  padding: 0;
  box-shadow: none;
  text-align: center;
}

#mbmcpebul_table li:hover div.buttonbg a, #mbmcpebul_table li.expanded a.topitem, #mbmcpebul_table li.active a.topitem,
#mbmcpebul_table li.itemhot a.topitem, #mbmcpebul_table li a:hover {
  color: #FFFFFF;
  font-style: normal;
  font-weight: bold;
  text-decoration: none;
}


#mbmcpebul_table li.expanded div.buttonbg, #mbmcpebul_table li.active div.buttonbg, #mbmcpebul_table li.itemhot div.buttonbg, #mbmcpebul_table li:hover div.buttonbg {
  background-color: transparent;
  box-shadow: none;
  border-color: #800421;
}

#mbmcpebul_table {
  padding: 0;
  border-style: solid;
  border-color: #B50831;
  border-width: 0;
  border-radius: 0;
  background-color: #B50831;
  box-shadow: none;
  border-collapse: separate;
  background-image: url('wrapper_bg.png');
  background-repeat: repeat-x;
  background: -moz-linear-gradient(top, #B4F5AD 0%, #2ACB2A 100%);
  background: -webkit-linear-gradient(top, #B4F5AD 0%, #2ACB2A 100%);
  background: -ms-linear-gradient(top, #B4F5AD 0%, #2ACB2A 100%);
  background: linear-gradient(top, #B4F5AD 0%, #2ACB2A 100%);
}

#mbmcpebul_table ul li a {
  color: #FFFFFF;
  font-family: "Segoe Print",sans-serif;
  font-size: 18px;
  line-height: 31px;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  display: block;
  vertical-align: middle;
  white-space: nowrap;
}

#mbmcpebul_table ul li:hover > a {
  color: #FFFFFF;
  font-family: "Segoe Print",sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
}

#mbmcpebul_table ul li.subexpanded a.subexpanded, #mbmcpebul_table ul li.subitemhot a.subitemhot, #mbmcpebul_table ul li a:hover {
  color: #FFFFFF;
  font-family: "Segoe Print",sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
}

#mbmcpebul_table ul li:hover, #mbmcpebul_table ul li.subexpanded, #mbmcpebul_table ul li.subitemhot {
  border-color: transparent;
  background-color: #1E6597;
  box-shadow: none;
}

#mbmcpebul_table ul {
  margin: 0;
  border-style: solid;
  border-color: #870724;
  border-width: 0;
  padding: 0;
  background: #870724;
  font-size: 0;
  border-radius: 0 6px 6px 6px;
}

#mbmcpebul_table ul li a {
  padding: 10px 18px 10px 16px;
  text-align: left;
}

#mbmcpebul_table ul li.separator {
  padding: 10px;
  cursor: default;
  background: none;
  box-shadow: none;
  border-width: 0;
}

#mbmcpebul_table ul li.separator div {
  border-top: 1px solid #1A537D;
  font-size: 0px;
}

#mbmcpebul_table ul li {
  border-style: solid;
  border-color: #870724;
  border-width: 0;
  height: auto;
  width: auto;
  text-align: left;
  line-height: 0;
  font-size: 0;
  cursor: pointer;
  float: none;
  margin: 0 0 0px 0;
  border-radius: 0;
  padding: 0;
  box-shadow: none;
  background-color: transparent;
}

#mbmcpebul_table ul li.first_item {
  border-radius: 0 6px 0 0;
}

#mbmcpebul_table ul li.last_item {
  border-radius: 0 0 6px 6px;
}


#mbmcpebul_table ul {
  box-shadow: 0 0 5px -1px #333333;
}

#mbmcpebul_table .spaced_li {
  margin: 0px 1px 0px 0px;
}

#mbmcpebul_table a img {
  border: none;
}

#mbmcpebul_table li {
  list-style: none;
  float: left;
}

#mbmcpebul_table.css_menu li {
  position: relative;
}

#mbmcpebul_table.css_menu ul li:hover > ul {
  opacity: 1;
}

#mbmcpebul_table.css_menu li:hover > ul {
  top: 100%;
  left: 0;
  right: auto;
  opacity: 1;
}

#mbmcpebul_table.css_menu ul li:hover > ul {
  top: -0px;
  left: 100%;
  right: auto;
}

#mbmcpebul_table.css_menu ul {
  transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -ms-transition-duration: 0.3s;
  transition-property:opacity;
  -webkit-transition-property:opacity;
  -moz-transition-property:opacity;
  -ms-transition-property:opacity;
  opacity: 0;
}

#mbmcpebul_table ul {
  position: absolute;
  top:-99999px;
  z-index: 4000;
}

#mbmcpebul_table ul ul {
  position: absolute;
  z-index: 5000;
}

#mbmcpebul_table .submenu_arrow {
  margin-left: 8px;
}

#mbmcpebul_table div.arrow { 
  background-image: url(ebab_mbmcp_d.png); 
  background-repeat: no-repeat; 
  background-position: right center; 
  height: 100%; 
} 

#mbmcpebul_table ul li a.with_arrow { 
  background-image: url(ebab_mbmcp_c.png); 
  background-repeat: no-repeat; 
  background-position: right center; 
  padding-right: 22px; 
} 

#mbmcpebul_table ul a img, #mbmcpebul_table ul a span { 
  margin-right: 6px; 
  vertical-align: middle; 
} 

#mbmcpebul_table ul.img_32 > li > a { 
  padding-left: 41px; 
} 

#mbmcpebul_table ul.img_32 > li > a.with_img_32 { 
  padding-left: 3px; 
} 

#mbmcpebul_table ul.img_32 > li > a { 
  padding-left: 41px; 
} 

#mbmcpebul_table ul.img_32 > li > a.with_img_32 { 
  padding-left: 3px; 
} 

#mbmcpebul_table ul.img_32 > li > a { 
  padding-left: 41px; 
} 

#mbmcpebul_table ul.img_32 > li > a.with_img_32 { 
  padding-left: 3px; 
} 

#mbmcpebul_table li:hover div.gradient70, #mbmcpebul_table li.expanded div.gradient70, #mbmcpebul_table li.active div.gradient70, #mbmcpebul_table li.itemhot div.gradient70 { 
  background-image: url('buttonhot_bg.png'); 
  background-repeat: repeat-x; 
  background-color: #119611; 
} 

#mbmcpebul_table li:hover div.gradient_button, #mbmcpebul_table li.expanded div.gradient_button, #mbmcpebul_table li.active div.gradient_button, #mbmcpebul_table li.itemhot div.gradient_button { 
  background: -moz-linear-gradient(top, #62E65B 0%, #119611 100%); 
  background: -webkit-linear-gradient(top, #62E65B 0%, #119611 100%); 
  background: -ms-linear-gradient(top, #62E65B 0%, #119611 100%); 
  background: linear-gradient(top, #62E65B 0%, #119611 100%); 
} 

#mbmcpebul_table ul.gradient153 { 
  background-image: url('menu_bg1.png'); 
  background-repeat: repeat-x; 
  background-color: #2ACB2A; 
} 

#mbmcpebul_table ul.gradient102 { 
  background-image: url('menu_bg.png'); 
  background-repeat: repeat-x; 
  background-color: #2ACB2A; 
} 

#mbmcpebul_table ul.gradient208 { 
  background-image: url('menu_bg2.png'); 
  background-repeat: repeat-x; 
  background-color: #2ACB2A; 
} 

#mbmcpebul_table ul.gradient312 { 
  background-image: url('menu_bg3.png'); 
  background-repeat: repeat-x; 
  background-color: #2ACB2A; 
} 

#mbmcpebul_table ul.gradient104 { 
  background-image: url('menu_bg4.png'); 
  background-repeat: repeat-x; 
  background-color: #2ACB2A; 
} 

#mbmcpebul_table ul.gradient_menu { 
  background: -moz-linear-gradient(top, #B4F5AD 0%, #2ACB2A 100%); 
  background: -webkit-linear-gradient(top, #B4F5AD 0%, #2ACB2A 100%); 
  background: -ms-linear-gradient(top, #B4F5AD 0%, #2ACB2A 100%); 
  background: linear-gradient(top, #B4F5AD 0%, #2ACB2A 100%); 
} 

#mbmcpebul_table ul li.gradient52:hover, #mbmcpebul_table ul li.gradient52.subexpanded, #mbmcpebul_table ul li.gradient52.subitemhot { 
  background-image: url('menuitemhot_bg.png'); 
  background-repeat: repeat-x; 
  background-color: #119611; 
} 

#mbmcpebul_table ul li.gradient51:hover, #mbmcpebul_table ul li.gradient51.subexpanded, #mbmcpebul_table ul li.gradient51.subitemhot { 
  background-image: url('menuitemhot_bg1.png'); 
  background-repeat: repeat-x; 
  background-color: #119611; 
} 

#mbmcpebul_table ul li.gradient_menuitem:hover, #mbmcpebul_table ul li.gradient_menuitem.subexpanded, #mbmcpebul_table ul li.gradient_menuitem.subitemhot { 
  background: -moz-linear-gradient(top, #62E65B 0%, #119611 100%); 
  background: -webkit-linear-gradient(top, #62E65B 0%, #119611 100%); 
  background: -ms-linear-gradient(top, #62E65B 0%, #119611 100%); 
  background: linear-gradient(top, #62E65B 0%, #119611 100%); 
} 

#mbmcpebul_table li a.button_2, #mbmcpebul_table li div a.button_2 { 
  padding-right: 30px; 
} 

