.submit-button {
  width: 32px;
  height: 32px; 
  border: none;
  cursor: pointer;
  cursor: hand;
  vertical-align: top;
  margin-left:50px;
}
.Text-top {
color: #8888FF; 
font-size:30px; 
font-family:Arial;
}
.left{
width:30%;
background-color:#FFFFFF;
}
.top{
width:100%;
height:50px;
text-align:top;
background-color:#FFFFBB;
padding-top:5px;
padding-bottom:20px
}
.main{
width:100%;
background: url(house.png) no-repeat;
}
.header{
width:100%;
height:50px;
text-align:center;
}
.menu{
width:20%;
float:left;
}
.content{
width:60%;
}
.footer{
width:100%;
height:50px;
text-align:center;
float:bottom;
}
.news{
width:20%;
float:right;
}
.menu 
{
	background-color: #F5F5F5;
	cursor: pointer;
	width:250px;
	border-radius: 20px;
}
.menu:hover 
{
	background-color: #a5a5a5;
	cursor: pointer;
	width:250px;
	border-radius: 20px;
}
.menus
{
}
.menus:hover 
{
	opacity:0.6;
}
.buy
{
	padding-top:7px;
	background-color: #F0F0F0;
	border-bottom:1px dashed #777777;
	cursor: pointer;
	width:100%;
	height:55px;
}
.buy:hover 
{
	padding-top:7px;
	background-color: #a5a5a5;
	cursor: pointer;
	width:100%;
	border-bottom:1px dashed #777777;
	height:55px;
}
.buy1
{
	padding-top:7px;
	background-color: #F0F0F0;
	border-bottom:1px dashed #777777;
	cursor: pointer;
	width:100%;
	height:55px;
}
.buy1:hover 
{
	padding-top:7px;
	background-color: #a5a5a5;
	border-bottom:1px dashed #777777;
	cursor: pointer;
	width:100%;
	height:55px;
}
.tablerow
{
	border-bottom:1px dashed #777777;
	cursor:pointer;
}
.tablerow:hover
{
	border-bottom:1px dashed #777777;
	background-color:#D0D0D0;
	cursor:pointer;
}