html{
    font-size: 1px;
}

body{
    font-family: 'pf_dindisplay_proregular';
    font-size: 16rem;
}

.wrapper{
    width: 100%;
}

.row{
    width: 1000px;
    margin: 0 auto; 
    position: relative;
}

.wrapper.white{
    background-color: #f1f1f2;
    border-bottom: 2px solid #B0B5B8;
}

.wrapper.white-bg{
    background-image: url(../img/bg/bg-white.png);
}

/* --- header start --- */

/* --- header .top --- */
 
header .top{
    height: 34px;
}

/* Кнопки входа и регестрации */

.reg {
width: auto;
float: left;
padding-right: 35px;
}
    .reg form{
        display: inline-block;
    }

    .reg input[type="button"] {
        height: 16rem;
        margin: 9rem 3rem 5rem 0;
        padding: 0 8rem 0;
        font-size: 10px;
        font-size: 10rem;
        line-height: 13rem; 
        font-family: 'open_sanssemibold';
        text-transform: uppercase;
        border: none;
        text-decoration: none;
    }

    .reg a{
        color: #121212;
        display: inline-block;
    }

/* Формы входа и регестрации */

.form_login{
    width: 210px;
    border-top: 5px solid #dd020a;
    position: relative;
    padding: 11px 13px 15px 17px;
    display: none;
    position: absolute;
    left: 0px;
    background-color: white;
    top: 37px;
    z-index: 1;
}

    .form_login .caption{
       color: #121212;
       font-family: "pf_dindisplay_promedium";
       font-size: 13px;
       font-size: 13rem;
    }

    .form_login input{
        font-family: "arial";
        color: #212121;
        font-size: 12px;
        font-size: 12rem;
        display: block;
        border: 1px solid #c0c0c0;
        background: none;
        padding-left: 10px;
    }

    .form_login input:hover{
        border: 1px solid #ed1c24;
    }

    .form_login label{
        font-family: "arial";
        color: #4f4f4f;
        font-size: 11px;
        font-size: 11rem;
        display: block;
        padding-top: 6px;
    }

    .form_login a{
        color: #009ab2;
        font-size: 13px;
        font-size: 13rem;
        font-family: "pf_dindisplay_promedium";
    }

    .form_login .error{
        color: #e10810;
        font-family: "pf_dindisplay_proregular";
        font-size: 14px;
        font-size: 14rem;
        padding-top: 15px;
        padding-bottom: 10px;
        display: block;
    }

    .form_login .close{
        background-image: url('../img/icon/x.png');
        font-size: 16px;
        font-size: 16rem;
        text-indent: -9999px;
        display: block;
        width: 8px;
        height: 8px;
        position: absolute;
        top: 10px;
        right: 10px;
    }

    .form_login button{
        border: none;
        color: white;
        font-size: 12px;
        font-size: 12rem;
        font-family: "pf_dindisplay_promedium";
        padding: 5px 20px;
        float: right;
        margin-right: 20px;
    }

    .form_login .line{
        display: inline-block;
        width: 100%;
    }

header .social {
    width: 110px;
    float: left;
}

header .social div{
    background-image: url("../img/icon/social.png");
    float: left;
    height: 20px;
    margin-right: 7px;
    margin-top: 5px;
    width: 20px;
}

header .social .vk{
    background-position: 0px 0px;
}

header .social .fb{
    background-position: -26px 0;
}

header .social .yt{ 
    background-position: -52px 0;
}

header .social .tw{
    background-position: 20px 0;
}

header  .social .vk:hover{
    background-position: 0px 20px;
}

header .social .fb:hover{
    background-position: -26px 20px;
}

header .social .yt:hover{   
    background-position: -52px 20px;
}

header .social .tw:hover{
    background-position: 20px 20px;
}

header .cart {
height: 35px;
width: 74px;
position: absolute;
right: 210px;
}

header .cart>.cart-button>img{
    height: 17px;
    margin-left: 16px;
    margin-top: 8px;
    width: 16px;
}

header .cart .count{
    display: inline-block;
    font-family: 'pf_dindisplay_promedium';
    font-size: 16px;
    font-size: 16rem;
    position: relative;
    text-align: center;
    top: -3px;
    width: 35px;
    color: black;
}

header .cart.active .count{
    color: white;
}

/* --- #table-cart --- */

span.icon-cart-white,
span.icon-cart-red{
    display: inline-block;
    height: 17px;
    margin-left: 16px;
    margin-top: 8px;
    width: 16px;
}

span.icon-cart-red,
span.icon-cart-white:hover,
.active span.icon-cart-red:hover
{
    background: url(../img/icon/cart-two.png);
}
span.icon-cart-white,
span.icon-cart-red:hover,
.active span.icon-cart-white:hover
{
    background: url(../img/icon/cart-two.png) 0px 17px;
}

#table-cart {
    width: 420px;
    overflow: hidden;
    border: 1px solid lightgray;
    position: relative;
    padding: 5px;
    border-top: solid #ED1C24 2px;
    top: -2px;
    left: -153px;
    background: white;
    z-index: 11;
    padding: 5px 10px 5px 0px;
}

#table-cart tr{
    border: none;
    border-bottom: 1px solid #d6d6d6;
    height: 100px;
}

#table-cart tr:last-child{
    border: none;
    border-bottom: 1px solid #d6d6d6;
}

#table-cart .preview{
    width: 95px;
    text-align: center;
    vertical-align: middle;
    padding: 13px 0;
}

    #table-cart .preview img{
        max-width: 70px;
        max-height: 70px;
    }

#table-cart .name{
    width: 150px;
    vertical-align: top;
    padding: 19px 10px;
}

    #table-cart .name a{
        font: 14px "pf_dindisplay_proregular";
        font: 14rem "pf_dindisplay_proregular";
        color: #009ab2;
    }

#table-cart .count{
    width: 30px;
    vertical-align: top;
    padding: 23px 0;
    font: 14px "pf_dindisplay_promedium";
    font: 14rem "pf_dindisplay_promedium";
    color: #121212;
}

#table-cart td.sum{
    width: 90px;
    vertical-align: top;
    padding: 21px 0;
    font: 14px "pf_dindisplay_promedium";
    font: 14rem "pf_dindisplay_promedium";
    color: #121212;
}

#table-cart .close_td {
    width: 17px;
    vertical-align: top;
    padding: 20px 0;
}
    #table-cart span.close {
    background: url(../img/icon/x.png) no-repeat 4px 6px;
    display: inline-block;
    width: 17px;
    height: 20px;
    }

    #table-cart span.close:hover{
        background: url(../img/icon/close-red.png) no-repeat 0px 3px;
    }

#table-cart .result{
    height: 86px;
    padding-top: 14px;
    text-align: center;
    padding-bottom: 16px;
    position: relative;
    background: white;
    top: 0px;
    width: 100%;
}

#table-cart .result>span{
    font: 14px "pf_dindisplay_promedium";
    font: 14rem "pf_dindisplay_promedium";
    float: right;
    width: 100%;
    text-align: right;
    padding-right: 20px;
    text-transform: uppercase;
}

#table-cart-button{
    font: 12px "pf_dindisplay_probold";
    font: 12rem "pf_dindisplay_probold";
    line-height: 46px;
    height: 46px;
    width: 175px;
    margin: 16px 0;
    text-transform: uppercase;
    text-decoration: none;
}

.table-cart-button{
    font: 12rem/46px "pf_dindisplay_probold";
    height: 46px;
    margin: 16px 0;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    width: 175px;
    margin: 16px 0 0;
}    

.cart-button{
    height: 35px;
}

#cart-button {
    height: 35px;
    border-left: 1px lightgray solid;
    border-right: 1px lightgray solid;
    cursor: pointer;
}

#table-cart-button a{
    text-decoration: none;
    color: white;
}
/* Styles specific to this particular page */

/* Force the scroll bar to the left hand side of the screen */
.jspVerticalBar
{
    left: 0;
}

.scroll-table{
    width: 420px;
    height: 205px;
}

.scroll-table.one{
    width: 420px;
    height: 105px;
    margin-left: 10px;
}

.scroll-pane{
    width: 420px;
    overflow: auto;
}


.jspDrag {
    background: #e61018;
    position: relative;
    top: 0;
    left: 0;
    cursor: pointer;
    -moz-border-radius: 8px;
    border-radius: 8px;
    width: 8px;
    margin: 0 auto;
}

.jspTrack {
    background: url(../img/bg/scroll-bg.png) no-repeat white 7px 0px;
}

/* --- #table-cart end --- */

div.search {
float: right;
font-family: 'open_sansregular';
font-size: 9px;
font-size: 9rem;
padding: 6px 0 0 12px;
position: absolute;
right: 0;
top: 0;
}

.search input[type="text"]{
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: inherit;
    border: 1px solid #B2B3B4;
    color: #8A8A8A;
    height: 20px;
    padding: 0 0 0 6px;
    text-transform: uppercase;
    width: 192px;
}

#searchsubmit {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 5px;
    right: 0;
    background: url('../img/icon/loupe.png') no-repeat center center;
    border: none;
}

/* --- end header .top --- */

/* --- header .caption --- */

.wrapper.black{
    background-image: url(../img/bg/bg-caption.png);
     height: 100%;
}

.caption .logo{
    height: 103px;
    width: 205px;
    float: left;
}

.caption .logo>a>img {
height: 64px;
width: 202px;
margin-top: 17px;
margin-left: 5px;
}

.caption .about {
    float: left;
    font-family: 'pf_dindisplay_proregular';
    padding: 15px 0 0 38px;
    width: 320px;
}

.caption .about span:before{
    content: "—  ";
    margin-left: -23px;
    white-space: pre;
}

.caption .about span{
    color: #E2E2E2;
    font-family: 'pf_dindisplay_proregular';
    font-size: 14px;
    font-size: 14rem;
}

header .callback {
    float: left;
    width: 435px;
}

header .callback div:first-child{
    text-align: center;
    width: 225px;
    float: left;
}

header .callback div:last-child{
    text-align: right;
    width: 190px;
    float: right;
}

header .callback input,
header .callback .modalbox{
    -moz-border-radius: 100px;
    border-radius: 100px;    
    background-color: inherit;
    color: white;
    font-family: 'pf_dindisplay_probold';
    font-size: 12px;
    font-size: 12rem;
    height: 37px;
    margin-left: 56px;
    margin-top: 15px;
    text-transform: uppercase;
    width: 170px;
    border: none;
    display:inline-block;
    background: #a2c836; /* Old browsers */
    background: -moz-linear-gradient(top, #a2c836 0%, #6fa312 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a2c836), color-stop(100%,#6fa312)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #a2c836 0%,#6fa312 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #a2c836 0%,#6fa312 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #a2c836 0%,#6fa312 100%); /* IE10+ */
    background: linear-gradient(to bottom, #a2c836 0%,#6fa312 100%); /* W3C */
    vertical-align: middle;
    line-height: 37px;       
}

header .callback input:hover,
header .callback .modalbox:hover,
header .callback input:focus,
header .callback .modalbox:focus,
header .callback input:active,
header .callback .modalbox:active{
    background: #6fa312; /* Old browsers */
    background: -moz-linear-gradient(top, #6fa312 0%, #a2c836 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6fa312), color-stop(100%,#a2c836)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #6fa312 0%,#a2c836 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #6fa312 0%,#a2c836 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #6fa312 0%,#a2c836 100%); /* IE10+ */
    background: linear-gradient(to bottom, #6fa312 0%,#a2c836 100%); /* W3C */
}

header .callback .phone{
    display: inline-block;
    padding: 11px 0 0 0;
    width: 100%;
    margin-top: 0px;
}

header .callback .phone a{
    color: inherit;
    color: #ED1C24;
    font-family: 'pf_dindisplay_promedium';
    font-size: 20px;
    font-size: 20rem;
    line-height: 25px;
    text-decoration: none;
}

header .callback span{
    font-size: 14px;
    font-size: 14rem;
    color: #d5d5d5;
    margin-top: -3px;
}

/* --- header .caption end --- */

/* --- header nav.main --- */
.wrapper.black.nav {
    border-bottom: 5px solid #ED1C24;
    border-top: 1px solid #B4B4B4;
    height: 37px;
    margin-top: 0;
}

nav.main ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

nav.main li{
    position: absolute;
    padding: 7px 25px;
    background-image: url("../img/point.png");
    background-position: 0 17px;
    background-repeat: no-repeat;
}

nav.main li:first-child{
    padding-left: 8px;
    background: none;
    left: 0px;
}

nav.main li:nth-child(2){
    left: 104px;
}

nav.main li:nth-child(3){
    left: 275px;
}

nav.main li:nth-child(4){
    left: 372px;
}

nav.main li:nth-child(5){
    left: 489px;
}

nav.main li:nth-child(6){
    left: 641px;
}

nav.main li:nth-child(7){
    left: 740px;
}

nav.main li:last-child{
    right: 0px;
    padding-right: 8px;
}

nav.main a{
    text-decoration: none;
    font-family: 'pf_dindisplay_probold';
    color: rgb( 254, 254, 254 );
    font-size: 12px;
    font-size: 12rem;
    text-transform: uppercase;
}

nav.main li.current-menu-item,
nav.main li:hover{
    padding-top: 0px;
}

nav.main li.current-menu-item a,
nav.main li:hover a{
    margin-top: -2px;
    padding-top: 9px;
    color: #ed1c24;
    border-top: 3px solid #ED1C24;
    display: block;

}

nav.main li:hover a {
    color: #ed1c24;
}

/* --- header nav.main end --- */

/* --- section#slider --- */

#slider {
    height: 400px;
    width: 100%;
    background: url("../img/shadow.png") repeat scroll 0 0 transparent;
    background-color: rgba(0, 0, 0, 0.8);
}

/* --- #slider menu --- */

#slider .menu{
    width: 230px;
    height: 400px;
    float: left;
}

#slider .cat-product {
    background: none repeat scroll 0 0 #521C24;
    border: 1px solid #B39DA1;
    float: left;
    margin: 5px;
    outline: 5px solid #521C24;
    width: 218px;
    height: 278px;
}

#slider .cat-product>ul, .menu .cat-product>ul{
    font-family: "pf_dindisplay_probold";
    font-size: 13px;
    font-size: 13rem;
    list-style: none outside none;
    margin: 0;
    padding: 18px 20px;
    text-transform: uppercase;
}

#slider .cat-product li, .menu .cat-product li{
    cursor: pointer;
    color: white;
    line-height: 19px;
}

#slider .cat-product li a{
    cursor: pointer;
}

#slider .cat-product>ul>li:first-child, .menu .cat-product>ul>li:first-child {
    padding: 6px 0;
    border-top: none;
}

#slider .cat-product>ul>li, .menu .cat-product>ul>li {
    padding: 5px 0;
    border-top: 1px solid #B39DA1;
}

#slider .cat-product>ul>li>ul, .menu .cat-product>ul>li>ul {
    font-size: 12px;
    font-size: 12rem;
    font-family: "pf_dindisplay_proregular";
    display: none;
}

#slider .cat-product>ul>li>ul>li>ul, .menu .cat-product>ul>li>ul>li>ul {
    color: #aacf31;
    font-size: 13px;
    font-size: 13rem;
    text-transform: none;
}

#slider .cat-product li a, .menu .cat-product li a {
    text-decoration: none;
    color: white;
    line-height: 19px;
    width: 95%;
    display: inline-block;    
}

#slider .cat-product li a:hover, .menu .cat-product li a:hover {
    color: #aacf31;
}

#diller{
    background-image: url('../img/bg/bg-diller.png');
    background-size: 100%;
    float: left;
    height: 93px;
    color: white;
    width: 203px;
    padding: 17px 5px 0 22px;
}

#diller .interest{
    margin: 0;
    font-family: "pf_dindisplay_probold";
    font-size: 14px;
    font-size: 14rem;
    text-transform: uppercase;
    line-height: 18px;
}

#diller p span{
    font-size: 24px;
    font-size: 24rem;
    font-weight: bold;
}

#diller img{
    float: left;
    margin-top: 5px;
    padding-right: 10px;
}

#diller .invite{
    font-family: "pf_dindisplay_promedium";
    font-size: 14px;
    font-size: 14rem;
    margin: 5px 0 0;
}

#diller .invite a{
    color: white;
    text-decoration: none;
}
/* --- #slider menu end --- */

/* --- #slider .slider ^__^ --- */

#slider .slider{
    width: 770px;
    float: left;
    position: relative;
}

#slider .slider .current-slide img{
    position: absolute;
    top: 0;
    z-index: -1;
    height: 400px;
    width: 770px;
}

#slider .caption{
    background-image: url('../img/shadow.png'); 
}

#slider .caption p{
    margin: 0;
    color: white;
}

#slider .slider .name-product{
    font-family: pf_din_text_cond_promedium;
    font-size: 32px;
    font-size: 32rem;
    letter-spacing: -1px;
    padding: 13px 0 20px 40px;
    text-transform: uppercase;
    width: 400px;
    float: left;
}

#slider .slider .name-product strong{
    font-weight: normal;
}

#slider .slider .about-product{
    float: right;
    font-family: "pf_dindisplay_promedium";
    font-size: 16px;
    font-size: 16rem;
    letter-spacing: 0;
    padding: 15px 36px 10px 0;
    width: 220px;
}

#attention {
    background: url("../img/attention.png") repeat scroll 0 0 transparent;
    color: white;
    height: 48px;
    left: 750px;
    padding: 0 0 0 80px;
    position: absolute;
    top: 365px;
    width: 165px;
    z-index: 1;
}

#attention span {
    font-family: "pf_dindisplay_promedium";
    font-size: 18px;
    font-size: 18rem;
    position: absolute;
    top: 8px;
    line-height: 16px;
    left: 86px;
}

/* --- #slider .slider end --- */
/* --- section#slider end --- */

/* --- section #main --- */

#main{
     padding-top: 13px;
}

/* --- #sidebar --- */
#sidebar{
    width: 230px;
    float: left;
}

#sidebar section:first-child{
    margin-top: 15px!important;
}

#sidebar section.menu:first-child{
    margin-top: 0!important;
}


#sidebar .caption{
    color: #121212;
    display: block;
    font-family: "pf_dindisplay_promedium";
    font-size: 20px;
    font-size: 20rem;
    letter-spacing: -1px;
    line-height: 45px;
    margin-left: -3px;
    text-align: left;
    text-indent: 27px;
    text-transform: uppercase;
    width: 235px;
    background: url(../img/bg/bg-tabs.png);
    height: 49px;
}

/* --- .looked --- */
.looked{
    background-color: white;
    overflow: hidden;
    padding-top: 5px;
    margin: 15px 0;
}

.looked .caption{
    text-indent: 18px!important;
}

.looked .item{
    padding: 10px 0;
    border-bottom: solid 1px #d6d6d6;
    margin: 0 25px 0 17px;
    text-align: center;
}

.looked .item:nth-of-type(2){
    border-bottom: none;
}

.looked .item img{
    margin: 0 auto;
    max-width: 230px;
}

.looked .item .title{
    display: inline-block;
    width: 100%;
    color: #1c1c1c;
    text-decoration: none;
    font-size: 16px;
    font-size: 16rem;
    font-family: "pf_dindisplay_promedium";
}

.looked .item:last-child{
    border-bottom: none;
}
/* --- .looking end --- */


/* --- .widget-menu --- */


#sidebar .menu,
#tablet_sidebar .menu{
    width: 230px;  
    margin-bottom: 15px;
}

#sidebar .menu ul,
#tablet_sidebar .menu ul{
    list-style: none;
}

#sidebar .menu #active-menu,
#tablet_sidebar .menu #active-menu{
    border: none;
    position: relative;
    padding: 0;
}

#sidebar .menu #active-menu ~ li,
#tablet_sidebar .menu #active-menu ~ li{
    border-top: none;
}

#sidebar .menu #active-menu>a,
#tablet_sidebar .menu #active-menu>a{
    display: inline-block;
    margin-left: -20px;
    padding: 5px 20px;
    width: 100%;
    background: rgba(145,190,31,1);/* Old Browsers */    
    background: -moz-linear-gradient(top, rgba(241,111,92,1) 0%, rgba(246,41,12,1) 0%, rgba(240,47,23,1) 0%, rgba(188,218,81,1) 0%, rgba(145,190,31,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(241,111,92,1)), color-stop(0%, rgba(246,41,12,1)), color-stop(0%, rgba(240,47,23,1)), color-stop(0%, rgba(188,218,81,1)), color-stop(100%, rgba(145,190,31,1)));/* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(241,111,92,1) 0%, rgba(246,41,12,1) 0%, rgba(240,47,23,1) 0%, rgba(188,218,81,1) 0%, rgba(145,190,31,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(241,111,92,1) 0%, rgba(246,41,12,1) 0%, rgba(240,47,23,1) 0%, rgba(188,218,81,1) 0%, rgba(145,190,31,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(241,111,92,1) 0%, rgba(246,41,12,1) 0%, rgba(240,47,23,1) 0%, rgba(188,218,81,1) 0%, rgba(145,190,31,1) 100%); /* IE 10+ */
    background: linear-gradient(to bottom, rgba(241,111,92,1) 0%, rgba(246,41,12,1) 0%, rgba(240,47,23,1) 0%, rgba(188,218,81,1) 0%, rgba(145,190,31,1) 100%);/* W3C */
}

#sidebar .menu #active-menu > a:after,
#tablet_sidebar .menu #active-menu > a:after {
    background: url("../img/arrows/arrow-down.png") no-repeat scroll 0 0 transparent;
    content: ".";
    height: 5px;
    overflow: hidden;
    position: absolute;
    right: 0;
    text-indent: -9999px;
    top: 13px;
    width: 7px;
}

#sidebar .menu #active-menu>a,
#tablet_sidebar .menu #active-menu>a{
    color: white;
}


#sidebar .menu #active-menu:hover>a,
#tablet_sidebar .menu #active-menu:hover>a{
    background: rgba(145,190,31,1);/* Old Browsers */
    background: -moz-linear-gradient(top, rgba(145,190,31,1) 0%, rgba(188,218,81,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(145,190,31,1)), color-stop(100%, rgba(188,218,81,1)));/* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(145,190,31,1) 0%, rgba(188,218,81,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(145,190,31,1) 0%, rgba(188,218,81,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(145,190,31,1) 0%, rgba(188,218,81,1) 100%); /* IE 10+ */
    background: linear-gradient(to bottom, rgba(145,190,31,1) 0%, rgba(188,218,81,1) 100%);/* W3C */


    display: inline-block;
    margin-left: -20px;
    padding: 5px 20px;
    width: 100%;
}

#sidebar .menu #active-menu:hover>a,
#tablet_sidebar .menu #active-menu:hover>a{
    color: white!important;
}

#sidebar .menu #active-menu > a:hover:after,
#tablet_sidebar .menu #active-menu > a:hover:after {
    background: url("../img/arrows/arrow-up.png") no-repeat scroll 0 0 transparent;
}

#sidebar .cat-product,
#tablet_sidebar .cat-product{
    background: none repeat scroll 0 0 #521C24;
    border: 1px solid #B39DA1;
    margin: 5px;
    outline: 5px solid #521C24;
    width: 218px;
    position: relative;
    top: -18px;
}

#sidebar .cat-product ~ #diller {
    position: relative;
    top: -18px; 
}

#sidebar .cat-product>ul,
#tablet_sidebar .cat-product>ul{
    font-family: "pf_dindisplay_probold";
    font-size: 13px;
    font-size: 13rem;
    list-style: none outside none;
    margin: 0;
    padding: 18px 20px;
    text-transform: uppercase;
}

#sidebar .cat-product li,
#tablet_sidebar .cat-product li{
    cursor: pointer;
    color: white;
    line-height: 19px;
    position: relative;
}



#sidebar .cat-product li a,
#tablet_sidebar .cat-product li a{
    cursor: pointer;
}

#sidebar .cat-product .menu-main>li:hover>a,
#tablet_sidebar .cat-product .menu-main>li:hover>a{
    color: #aacf31;
}

#sidebar .cat-product .menu-main>li:hover>ul>li>a,
#tablet_sidebar .cat-product .menu-main>li:hover>ul>li>a{
    color: white;
}

#sidebar .cat-product>ul>li:first-child,
#tablet_sidebar .cat-product>ul>li:first-child{
    padding: 6px 0;
    border-top: none;
}

#sidebar .cat-product>ul>li,
#tablet_sidebar .cat-product>ul>li{
    padding: 5px 0;
    border-top: 1px solid #B39DA1;
}

.menu-main>li>ul {
    display: none;
    font-family: "pf_dindisplay_proregular";
    font-size: 12px;
    font-size: 12rem;
    margin-left: -20px;
    padding: 0;
    width: 218px;
}

#active-menu ul{
    background: #2b1015;
}

.menu-main > li > ul > li {
    background-image: url("../img/arrows/arrow-menu-right.png");
    background-position: 0 17px;
    background-repeat: no-repeat;
    padding: 10px 0 10px 20px;
    margin-left: 20px;
    line-height: 20px!important;
}

.menu-main > li > ul > li:first-child {
    padding-top: 17px;
    background-position: 0 24px;
}

.menu-main > li > ul > li:last-child {
    padding-bottom: 15px;
}

.menu-main > li > ul > li a{
    color: white;
    text-transform: uppercase;
    font-size: 12px;
    font-size: 12rem;
    font-family: "pf_dindisplay_proregular";
}

.menu-main > li > ul > li > a:hover{
    color: #aacf31 !important;
}

.menu-main>li>ul>li>ul{
    color: #aacf31;
    font-size: 13px;
    font-size: 13rem;
    text-transform: none;
    display: none;
    padding: 0;
}

.menu-main>li>ul>li>ul>li{
    padding-left: 12px;
    background: url('../img/point-green.png') no-repeat 0 center;
}

.menu-main>li>ul>li>ul>li>a{
    font-family: "pf_dindisplay_proregular";
    color: #aacf31;
    text-decoration: underline;
    line-height: 22px;
}

.menu-main>li>ul>li>ul>li:hover>a{
    text-decoration: none;
}

.menu-main li a{
    text-decoration: none;
    color: white;
    line-height: 19px;
}

#sidebar #diller{
    float: none!important;
}



/* --- .widget-menu end --- */

/* --- .reviews --- */
.reviews{
    background-color: white;
    width: 230px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-top: 5px;
    overflow: hidden;
    margin: 30px 0;
    -webkit-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.4);
    box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.4);
}

.reviews .review {
    padding: 0 17px 0 25px;
}

.reviews .review:nth-child(odd){
    background-color: #f5f5f5;
}

.information{
    font-family: "pf_dindisplay_promedium";
    font-size: 12px;
    font-size: 12rem;
    padding: 16px 0 9px;
    margin: 0;
}

.information .name{
    color: #121212;
    text-transform: uppercase;
}

.information .city{
    color: #707070;
}

.reviews .review .text{
    font-family: arial;
    font-size: 12px;
    font-size: 12rem;
    color: #444444;
    line-height: 19px;
    padding: 11px 0 30px;
    margin: 0;
}

.all {
    background: url(../img/bg/bg-all.png) repeat no-repeat;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
    line-height: 25px;
    text-align: center;
    width: 235px;
}

.all a{
    text-decoration: none;
    font-family: arial;
    color: white;
    font-size: 11px;
    font-size: 11rem;
    font-weight: bold;
}

/* --- .reviews end --- */

/* --- #feed --- */

#feed {
    margin: 30px 0;
}

#feed img.rss {
margin-left: 14px;
}

#feed .tabs{
    padding: 0 12px;
    position: relative;
    z-index: 1;
}

#newscast, 
#article{
    height: 26px;
    width: 109px;

    font-family: "pf_dindisplay_probold";
    font-size: 12px; 
    font-size: 12rem;   
    line-height: 26px;
    color: #686868;
    top: 0;


    text-align: center;
    z-index: 1;

    text-transform: uppercase;

    cursor: pointer;
}

#newscast.feed-active,
#article.feed-active{
    color: white;
    z-index: -1;
}

#newscast {
    background: url("../img/tab/news-tab.png") no-repeat transparent;
    position: relative;
    z-index: -1;
}

#newscast.feed-active{
    background: url("../img/tab/news-tab-active.png") no-repeat transparent;

    z-index: 1;
}

#article{
    position: absolute;

    background: url("../img/tab/article-tab.png") repeat scroll 0 0 transparent;
    left: 110px;

    z-index: -1;
}

#article.feed-active{
    background: url("../img/tab/article-tab-active.png") repeat scroll 0 0 transparent;
    z-index: 1;
}

#newscast-tab{
    background-color: white;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.4);
    padding-top: 5px;
    overflow: hidden;
}

#article-tab{
    background-color: white;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.4);
    padding-top: 5px;
    overflow: hidden;    
}

#feed .news{
    margin: 0 17px 0 25px;
    padding: 10px 0;
    border-bottom: 1px solid #D6D6D6;
}

#feed .news:last-of-type {
    border: none!important;
}

#feed .news span:first-child{
    height: 50px;
    display: block;
}

#feed .news .preview {
    border: 1px solid #D6D6D6;
    padding: 2px;
    width: 44px;
    height: 44px;
}

#feed .news img ~  .title {
    display: block;
    float: right;
    width: 130px;
}

#feed .news .title{
height: 50px;
}

#feed .news .title a{
    color: #1c9db1;
    font-size: 12px;
    font-size: 12rem;
    font-family: arial;
    font-weight: bold;
    text-decoration: none;
    height: 50px;
    overflow: hidden;
    display: inline-block;    
}

#feed .news .title a:hover {
    text-decoration: underline;
}

#feed .news .text{
    color: #6A686F;
    display: block;
    font-family: arial;
    font-size: 12px;
    font-size: 12rem;
    height: 29px;
    overflow: hidden;
    margin: 1px 0px 6px;
}

#feed .news .count{
    font-family: arial;
    font-size: 11px;
    font-size: 11rem;
    color: #6a686f;
    line-height: 10px;
    padding-top: 3px;
}

#feed .news .count .comment {
    display: inline-block;
    width: 50px;
    background-image: url(../img/icon/comment.png);
    background-repeat: no-repeat;
    text-indent: 20px;
    height: 13px;
}

#feed .news .count .view{
    display: inline-block;
    width: 50px;
    background-image: url(../img/icon/eye.png);
    background-repeat: no-repeat;
    text-indent: 20px;
    height: 13px;
}

#feed .news .count a{
    text-decoration: none;
    color: #6a686f;
}

.active-tab{
    display: block;
}

#newscast-tab{
    display: none;
}

#article-tab{
    display: none;
}

/* --- #feed end --- */

/* --- #banners --- */

#banners{
    width: 230px;
    float: left;
}

.banner{
    padding: 15px 0;
}



.banner img{
    width: 229px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.4);
}

/* --- #banners end --- */

/* --- #sidebar end --- */

/* --- #content --- */

#content{
    float: right;
    width: 770px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 5px 0 45px 25px;
}

#content .title{
    text-transform: uppercase;
}

#content .prev, #content .next{
    height: 17px;
    width: 10px;
    display: inline-block;
    padding-left: 5px;
    background-repeat: no-repeat;
}

#content .nav .num-pages {
    letter-spacing: 3px;
    padding: 0 5px;
    position: relative;
    top: -3px;
}

#content .nav .num-pages a{
    font-family: "pf_dindisplay_probold";
    font-size: 14px;
    font-size: 14rem;
    color: #898989;
    text-decoration: none;
}

#content .nav .num-pages a.current-product-page,
#content .nav .num-pages a:hover{
    color: #ed1c24;
}

#content .prev{
    background-image: url(../img/arrows/arrow-left-gray.png);   
}

#content .prev:hover{
    background-image: url(../img/arrows/arrow-left-red-mini.png);
}

#content .next{
    background-image: url(../img/arrows/arrow-right-gray.png);    
}

#content .next:hover{
    background-image: url(../img/arrows/arrow-right-red-mini.png);
}

/* --- .products --- */

.products_row {
  margin:20px 0 20px 0;
}

.products{
    padding-bottom: 10px;
    position: relative;
}

.products .caption{
    margin-bottom: 15px;
    position: relative;
}

.products .caption h2{
    font-family: "pf_din_text_cond_promedium";
    font-weight: normal;
    margin: 20px 0 0 0;
    text-transform: uppercase;
}


.products .caption>span{
    margin: 15px 0 0 0 ;
    font-weight: normal;
    text-transform: uppercase;
    color: #121212;
    font-size: 20px;
    font-size: 20rem;
    font-family: "pf_din_text_cond_promedium";
    width: 500px;
    float: left;
    display:inline-block;   
}

.products.popular .caption>span{
    background-image: url("../img/icon/star-green.png");
    background-repeat: no-repeat;
    text-indent: 30px;
}

.products .caption .nav{
    position: relative;
}



.products .special{
     position: relative;
}

.products .special>img{
    position: relative;
    top: 3px;
}

.products .special>img:nth-child(2){
    margin: 0 11px;
}

.products .special a{
    color: #009ab2;
    text-decoration: none;
    border-bottom: 1px dashed;
    font-size: 18px;
    font-size: 18rem;
    font-family: "pf_dindisplay_promedium";
}

.products > .title {
    margin: 20px 0 5px 5px;
}

.products .caption .nav{
    height: 14px;
    margin-left: 0;
    text-align: right;
    float: right;
    top: 10px;
    margin: 15px 0 0 5px;
}

.product>h2{
    font-size: 20px;
    font-size: 20rem;
    font-family: "pf_dindisplay_promedium";
    color: #121212;
    margin-top: 25px;
    margin-bottom: 12px;
}

.product{
    float: left;
    font-family: "pf_dindisplay_promedium";
    width: 235px;
    text-align: center;
    padding:    0px 10px 0px 10px; 
    box-shadow: 0px 0px 5px 0    rgba(255,255,255,1),
                0px 0px 3px 0    rgba(0, 0, 0, 0.3);
    -moz-box-sizing: border-box;             
    box-sizing: border-box;
    margin: 5px;
    background-color: white;
    position: relative;
    border: solid 1px white;
    //overflow: hidden;
}

.product:hover {
    border: solid 1px #b1d15e;
}

.product a{
    color: inherit;
    text-decoration: none;
}


.product:hover .buy .icon,
.product:hover .buy .arrows{
    background: #8fbd1f;   
}

.product:hover .buy .arrows:after{
    border-left-color: #8fbd1f; 
}

.product:hover .buy .arrows span{
    color: white;
}

.product:first-child{
    margin-left: 0;
}

.product:last-child{
    margin-right: 0;
}

.product:hover .preview{
    opacity: 0.5;
}

.product .ribbon{
    position: absolute;
    top: 0;
    z-index: 1;
}

.product .ribbon span{
    left: -11px;
    position: absolute;
    text-indent: -9999px;
    top: -1px;
}

.product .ribbon .new{
    background: url("../img/plate-new.png") repeat scroll 0 0 transparent;
    height: 72px;
    width: 72px;
}

.product .ribbon .hit{
    background: url("../img/plate-hit.png") repeat scroll 0 0 transparent;
    height: 80px;
    width:  80px;    
}

.product .action{
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 1;
}

.product .action .percent{
    background: url("../img/circle-red-big.png") no-repeat scroll 0 0 transparent;
    color: white;
    display: inline-block;
    font-family: "pf_dindisplay_probold";
    font-size: 16px;
    font-size: 16rem;
    height: 34px;
    padding-top: 7px;
    position: relative;
    text-align: center;
    width: 34px;
}

.product .action .present{
    position: relative;
    top: 0;
    height: 34px;
    width: 34px;
    background: url("../img/icon/present.png") no-repeat scroll 0 0 transparent;
    display: block;
}

.product .preview{
    width: 240px;
    height: 160px;
    vertical-align: bottom;
    text-align: center;
    display: table-cell;
}

.product .preview, .product .preview img {
    max-height: 160px;
    max-width: 211px;
}

.product .name{
    height: 34px;
    margin: 25px 0 5px;
    font-size: 16px;
    font-size: 16rem;
    color: #1c1c1c;    
}

.product .about{
    font-family: "pf_dindisplay_proregular";
    font-size: 13px;
    font-size: 13rem;
    text-align: left;
    color: #a2a2a2;
    margin-top: 0;
    padding: 0px 0 6px;
    border-bottom: solid 1px #a2a2a2;
    white-space: pre;
}

.product .price{
    float: left;
    text-align: left;
    width: 45%;
    height: 50px;
    position: relative;
    padding-right: 5px;    
}

.product .price .count del {
    position: absolute;
    bottom: 0;
    font-size: 14rem;
    color: rgb(116, 116, 116);
    margin: 0;
    text-decoration: line-through;
    margin-bottom: 10px; 
    text-align: center;  
    width: 95px; 
}

.price .count del {
    font-size: 14rem;
    color: rgb(116, 116, 116);
    margin: 0;
    text-decoration: line-through;
    margin-bottom: 10px; 
    text-align: center;  
    width: 95px;
}

.product .price .count del + ins, .price .count del + ins {
    position: absolute;
    top: 0;
    font-size: 20rem;
    color: rgb(237, 28, 36);
    margin: 0;    
    text-align: left;
    width: 95px;
}

.product .price .count ins{
    position: absolute;
    top: -2px;
    font-size: 20rem;
    margin: 0 0 26px 0;
    color: rgb(116, 116, 116);    
    text-decoration: none;
    text-align: left;
    width: 95px;
}



.product .price .new{
    font-size: 20px;
    font-size: 20rem;
    color: #ed1c24;
    margin: 0;
}

.product .price .old{
    font-size: 20px;
    font-size: 20rem;
    margin: 0 0 26px 0;
    color: #747474;
}

.product .price .new~.old{
    font-size: 14px;
    font-size: 14rem;
    color: #747474;
    margin: 0;
    text-decoration: line-through;
    text-indent: 15px;
    margin-bottom: 10px;
}

.page-menu {
    border-bottom: 2px solid black;
    padding-bottom: 10px;
    width: 100%;
}

.page-menu ul{
    list-style: none;
    margin: 0;
    padding: 0;
    width: 550px;
    display: inline-block;    
}

.page-menu li{
    display: inline-block;
    padding: 0 5px;    
    font-family: "pf_dindisplay_proregular";
    font-size: 14px;
    font-size: 14rem;
    color: #898989;
}

.page-menu li:first-child{
    padding-left: 0;
}

.page-menu li a{
    color: #009ab2;
    text-decoration: none;
}

.page-menu li:last-child a,
.page-menu li:last-child
{
    color: #121212;
}


.page-menu .back{
    position: relative;
    float: right;
    right: 5px;
}

.page-menu .back img{
    position: relative;
    top: 4px;
    left: -5px;
}

.page-menu .back a{
    font-family: "pf_dindisplay_proregular";
    color: #009ab2;
    font-size: 14px;
    font-size: 14rem;
    text-decoration: none;
}


.feed-menu{
    padding-top: 20px;
    width: 100%;    
}

.feed-menu ul{
    list-style: none;
    margin: 0;
    padding: 0;    
}

.feed-menu li{
    display: inline-block;
    padding: 0 5px;    
    font-family: "pf_dindisplay_proregular";
    font-size: 20px;
    font-size: 20rem;
    color: #121212;
    text-transform: uppercase;
}

.feed-menu li:first-child{
    padding-left: 0;
}

.feed-menu li a{
    color: #009ab2;
    border-bottom: 1px dashed #009ab2; 
    text-decoration: none;
    text-transform: none;
}

.products .nav{
    float: right;
}

.products .nav.top {
    position: relative;
    right: -4px;
    top: 25px;
}

.products>h2{
    margin: 18px 0 13px;
    font-family: "pf_dindisplay_promedium";
    font-size: 20px;
    font-size: 20rem;
    font-weight: normal;
}



.products .nav.bottom{
    position: relative;  
    right: 20px;  
}

.products .nav .num-pages {
    letter-spacing: 3px;
    padding: 0 5px;
    position: relative;
    top: -3px;
}

.products .nav .num-pages a{
    font-family: "pf_dindisplay_probold";
    font-size: 14px;
    font-size: 14rem;
    color: #898989;
    text-decoration: none;
}

.products .nav .num-pages a.current-product-page{
    color: #ed1c24;
}

/* --- .products end --- */

/* --- .post --- */

.post{
    font-size: 14rem;
    font-family: "pf_dindisplay_proregular";
    color: rgb(101, 101, 105);    
}

.post a{
    color: rgb(0, 154, 178);
}

.post img{
    max-width: 960px;
}

.post h1, .post h4, .post h5, .post h6, .post strong, .post span{
    font-family: "pf_dindisplay_probold";
    font-weight: normal;
    color: #27282d;
}

.post h2, .post h3{
    font-family: "pf_dindisplay_proregular";    
    font-weight: normal;
    color: #27282d; 
}
.post span, .post i, .post em, .post b, .post strong{
    color: #656569; 
}

.post h1{
    font-size: 1.9em;   
}

.post h2{
    font-size: 1.6em;    
}

.post h3{
    font-size: 1.3em;
}

.post h4{
    font-size: 1.25em;  
}

.post h5{
    font-size: 1.2em;   
}

.post h6{
    font-size: 1.1em;   
}

.post p{
    color: #656569;
    font-size: 1em;
    font-family: arial;
    text-indent: 1.5em;
    margin: 1.07em 0;
}

.post strong, .post b{
    font-size: 1.1em;
    font-weight: bold;
    color: #0d98ad;
}

.post hr{
    margin: 1em 0;
}

.post li{
    list-style: none;
}

.post ul{
    font-family: "Tahoma";
    color: #656569;
    font-size: 1em;
    margin: 0 0 0 23px;
    padding: 0;
}

.post ul li{
    margin-bottom: 10px;
}

.post ul li:before {
    content: '• ';
    color: #21aebe;
    font-size: 0.92em;
    font-family: Tahoma;
    width: 1em;
    line-height: 1em;
    display: inline-block;
}

.post ol{
    font-family: "Tahoma";
    color: #43484d;
    font-size: 0.85em;
    padding: 0;
    counter-reset:li;
    margin: 0 0 0 23px;
}

    .post ol li{
        margin-bottom: 30px;
        margin-left: 30px;
        position:relative;
        padding-left: 10px; 
    }

    .post ol li:before{
        content:counter(li);
        counter-increment:li;
        position:absolute;
        text-align:center;
        background-image: url("../img/circle-ol.png");
        width: 27px;
        height: 27px;
        left: -30px;
        font-family: Tahoma;
        font-weight: bold;
        font-size: 13rem;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        padding: 4px 1px 0px 0px;
        color: #0d98ad;
    }

.post hr{
    color: #b7b7b7;
}

.post span{
    color: #27282d;
    font-family: "pf_dindisplay_promedium";
    padding-bottom: 15px;
    display: inline-block;  
}
.post>span{
    text-indent: 23px;  
}
.post .date {
    font-family: "pf_dindisplay_promedium";
    font-size: 14px;
    font-size: 14rem;
    color: white;
    background-color: #8fbd1f;
    padding: 0 3px;
    text-indent: 0;
}

.post h1{
    font-family: "pf_dindisplay_promedium";
    color: #121212;
}

.post table{
    border: 2px solid #21aebe;
    background-color: white;
    width: 730px;
    margin-left: 23px;
}

.post table td{
    text-align: center;
}

.post table tr th,
.post table tr td{
    border: 1px solid #cfcfcf;
    padding: 12px 0;
    font-weight: normal;
}

.post table tr:first-child th,
.post table tr:first-child td{
    color: #27282d!important;
    font-family: "pf_dindisplay_promedium"!important;
    font-size: 1.14em!important;
    font-weight: normal!important;
}

.post table tr th:first-child
.post table tr td:first-child{
    text-align: left;
    font-family: Arial;
    color: #43484d;
    font-size: 1em;
    width: 40%;
    text-indent: 18px;
}

.post table tr:nth-child(odd){
    background-color: #f4f4f4;
}

.post table tr th:nth-child(n+2),
.post table tr td:nth-child(n+2){
    text-align: center;
    color: #ed1c24;
    font-weight: bold;
}

.post table tr th:nth-child(n+3),
.post table tr td:nth-child(n+3){
    text-align: center;
    color: #43484d;
    font-weight: normal;
}

.post.contact p,
.post.contact span{
    text-indent: 0;
}

.post.contact>span:first-child{
    margin: 1em 0 0 0;
}

.post.contact .title{
    text-transform: uppercase;
    font-size: 1.5em;
}

.post.contact span > a{
    padding-bottom: 15px;
    display: inline-block;
}

 .widget-slider{
    width: 725px;
    height: 335px;
    position: relative;
}

 .widget-slide{
    display: none;
}

 .widget-current-slide{
    display: block;
    width: 500px;
}

.widget-slide.widget-current-slide > img {
    height: 335px;
    width: 500px;
}


 .widget-current-slide .widget-caption{
    width: 230px;
    background-color: #d6d6d6;
    height: 335px;
    position: absolute;
    top: 0;
    left: 500px;
    padding: 23px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font: 14px Arial, sans-serif;
    font: 14rem Arial, sans-serif;
    color: #555555;
}

.widget-control{
    position: absolute;
    left: 500px;
    bottom: 0px;
    text-align: center;
    width: 230px;
    font-family: "pf_dindisplay_proMdIt"!important;
}

.widget-control .widget-prev, .widget-control .widget-next {
    height: 17px;
    width: 10px;
    display: inline-block;
    margin-top: 3px;
    padding-bottom: none;
    background-repeat: no-repeat;
    background-position: 0px 2px;
    text-indent: 0;
}

.widget-control .widget-count{
    display: inline-block;
    text-indent: 0;
    padding: 0;
}

.widget-control .widget-count span{
    padding: 0;
}


.widget-control .widget-prev{
    background-image: url(../img/arrows/arrow-left-gray.png);  
    float: left; 
    margin-left: 23px;
}

.widget-control .widget-prev:hover{
    background-image: url(../img/arrows/arrow-left-red-mini.png);
}

.widget-control .widget-next{
    background-image: url(../img/arrows/arrow-right-gray.png);  
    float: right;  
    margin-right: 23px;
}

.widget-control .widget-next:hover{
    background-image: url(../img/arrows/arrow-right-red-mini.png);
}

.widget-control .widget-count span{
    font-family: "pf_dindisplay_promedium";
    font-size: 24px;
    font-size: 24rem;
    color: #878787;
    text-indent: 0;
}

.widget-control .widget-count .widget-current{
    color: #27282d;
}



/* --- .post end --- */

/* --- .share --- */ 

#content .share{
    border-top: 2px solid black;
    padding-top: 10px;
}

#content .share div{
    float: left;
    background-image: url(../img/icon/share.png);
    width: 16px;
    height: 16px;
    margin-right: 5px;
    cursor: pointer;
}

#content .share .vk{
    background-position: 0px 0px;
}

#content .share .fb{
    background-position: -22px 0px;
}

#content .share .tw{
    background-position: -42px 0;
}

#content strong{
    font-weight: 600;
}

/* --- .share end --- */

/* --- .news_list --- */

.news_list{
    margin-top: -10px;
}

.news_list .news{
    padding: 30px 0;
    border-bottom: 1px solid #b7b7b7;
    position: relative;
}

.news_list .news:last-child{
    border-bottom: 2px solid black;
}

.news_list .news .left{
    padding-right: 25px;
    padding-top: 2px;
    width: 200px;
    clip: rect(0, 200px, 145px, 0);    
}

.news_list .news .left img{
    border: 3px solid white;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    min-height: 145px;
    min-width: 200px;
}

.news_list .news .right{
    width: 500px;
    position: relative;
}

.news_list .news .right .more{
    position: relative;
    right: 0;
    top: 25px;
    margin-bottom: 23px;
}

.news_list .news .date{
    font-family: "pf_dindisplay_promedium";
    font-size: 14px;
    font-size: 14rem;
    color: white;
    background-color: #8fbd1f;
    padding: 0 3px;
    line-height: 18px;
}

.news_list .news .title a{
    color: #121212;
    font-size: 18px;
    font-size: 18rem;
    font-family: "pf_dindisplay_promedium";
    text-decoration: none;
}

.news_list .news .title a:hover,
.news_list .news .title a:focus
{
    color: #009ab2;
}

.news_list .news .title{
    margin: 13px 0;
    text-transform: none!important;
}

.news_list .news .text{
    color: #656569;
    font-size: 13px;
    font-size: 13rem;
    font-family: Arial;
    line-height: 20px;
    margin: 0px;
}

.news_list .news .text center{
    text-align: center;
}



.news_list .news .more{
    float: right;
    padding: 5px 15px;
}

.news_list ~ .nav.bottom{
    margin-top: 16px;
}

/* --- .news_list end --- */

/* --- .doverie --- */
.doverie h2{
    font-family: "pf_dindisplay_probold";
    font-weight: normal;
    text-transform: uppercase;
}

.doverie p{
    font: 13px Arial, sans-serif;
    font: 13rem Arial, sans-serif;
    color: #656569;  
    text-indent: 37px;  
}
/* --- .doverie end --- */

/* --- .where --- */
.where .name span{
    font-family: "pf_din_text_cond_promedium";
    font-size: 20px;
    font-size: 20rem;
    color: #121212;
    padding-left: 40px;
}

.where .city{
    position: relative;
}

.where .city section{
    position: relative;
}


.where .city.active-city .name{
    border: 1px solid #d2d2d2;
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 0%, #e0e0e0 100%, #e0e0e0 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e0e0e0), color-stop(100%,#e0e0e0)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffffff 0%,#e0e0e0 100%,#e0e0e0 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffffff 0%,#e0e0e0 100%,#e0e0e0 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffffff 0%,#e0e0e0 100%,#e0e0e0 100%); /* IE10+ */
    background: linear-gradient(to bottom, #ffffff 0%,#e0e0e0 100%,#e0e0e0 100%); /* W3C */
}

.where .city .name:hover{
    cursor: pointer;
    background: #e0e0e0; /* Old browsers */
    background: -moz-linear-gradient(top, #e0e0e0 0%, #e0e0e0 0%, #ffffff 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e0e0e0), color-stop(0%,#e0e0e0), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #e0e0e0 0%,#e0e0e0 0%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #e0e0e0 0%,#e0e0e0 0%,#ffffff 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #e0e0e0 0%,#e0e0e0 0%,#ffffff 100%); /* IE10+ */
    background: linear-gradient(to bottom, #e0e0e0 0%,#e0e0e0 0%,#ffffff 100%); /* W3C */
}

.where .city.active-city{
    background-color: white;  
    border: 1px solid #d2d2d2;   
}

.where .city section{
    display: none;
}

.where .city.active-city section{
    display: block;
}

.where .city section{
    border-bottom: 1px solid #d2d2d2;
    padding: 20px 130px 28px 26px;
}

.where .city .name{
    padding: 0 26px;    
}

.where .city .name span{
    background-image: url(../img/arrows/arrow-this.png);  
    background-repeat: no-repeat;  
    background-position: 0px 10px;
    padding: 8px 0 8px 25px;
}

.where .city.active-city .name span{
    background-image: url(../img/arrows/arrow-down-blue.png);    
}

.where .city .name span{
    background-image: url(../img/arrows/arrow-this.png);
}

.where .city.active-city .name span,
.where .city:hover .name span{
    padding: 7px 0 7px 24px;
    font-family: "pf_dindisplay_promedium";
    font-size: 18px;
    font-size: 18rem;
}

.where .city.active-city .name span{
    color: #009ab2;    
}
.where .city .title {
    margin-bottom: 4px;
}

.where .city .title span{
    color: white;
    padding: 1px 7px;
    display: inline-block;
    font-size: 18px;
    font-size: 18rem;
    text-transform: none!important;
    border-radius: 2px;
}

.where .city  .title .red{
    background-color: #ed1c24;
}

.where .city .title span:nth-child(2){
    margin-right: 12px;
    color: #121212;
}

.where .city .title .green{
    background-color: #8fbd1f;
    color: white;
}


.where .city .addres{
    color: #121212;
    font-size: 14px; 
    font-size: 14rem; 
    line-height: 24px;  
}

.where .city .addres a{
    padding-left: 20px;
    background-image: url(../img/icon/flag.png);
    background-repeat: no-repeat;
    color: #009ab2;
    font-family: "pf_dindisplay_promedium";
    background-position: 5px 2px;
}

.where .city span{
    font-family: "pf_dindisplay_promedium";;
    display: block;
    color: #121212;
    font-size: 14px;
    font-size: 14rem;
    line-height: 24px;
}

.where .phone .number{
    color: #ed1c24;
    font-weight: normal!important;
    font-size: 16px;
    font-size: 16rem;
    line-height: 24px;
    display: inline-block;
}

.where .metro img {
    vertical-align: middle;
    padding-right: 10px;
}

.where .city a.right{
    font-family: "pf_dindisplay_promedium";
    color: white;
    font-size: 12px;
    font-size: 12rem;
    padding: 5px 15px; 
    position: absolute;
    bottom: 28px;
    right: 27px;   
    text-decoration: none; 
}
/* --- .where end --- */

/* --- .reviews-list --- */

.reviews_button{
    padding: 4px 14px;
    float: right;
    margin-top: 18px;
}

.reviews_button a{
    text-decoration: none;
    color: white;
    background-image: url(../img/icon/pen.png);
    background-repeat: no-repeat;
    width: 106px;
    display: inline-block;
    padding: 0px 0px 0px 23px;
    background-position: 0px 3px;
}

    .reviews_list .review .title,
    #reviews-single-product-tab .review .title{
        margin: 20px 0 24px;
        display: block;
        text-transform: none!important;
    }

        .reviews_list .review .text,
        #reviews-single-product-tab .review .text{
            color: #656569;
            font-family: arial;
            font-size: 13px;
            font-size: 13rem;
        }

        .reviews_list .review .title a,
        #reviews-single-product-tab .review .title a{
            text-decoration: none;
            font-family: "pf_dindisplay_promedium";
            font-size: 18px;
            font-size: 18rem;
            color: #121212;
        }

        .reviews_list .review .title:hover a,
        .reviews_list .review .title:hover .who,
        #reviews-single-product-tab .review .title:hover a,
        #reviews-single-product-tab .title:hover .who
        {
            color: #009ab2!important;
        }

            .reviews_list .review .title .who,
            #reviews-single-product-tab .review .title .who{
                font-size: 14px;
                font-size: 14rem;
                color: #636363;
            }


.reviews_list .review,
#reviews-single-product-tab .review{
    position: relative;
}

    .reviews_list .review .text,
    #reviews-single-product-tab .review .text{
        background-color: white;
        border-radius: 3px;
        -webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.75);
        box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.75);
        padding: 24px 25px 50px 27px;
    }

        .reviews_list .review .text img{
            float: left;
            border: 2px solid #e8e8e8;
            -webkit-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
            -moz-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
            box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
            max-height: 110px;
            max-width: 145px;
            margin-right: 15px;
        }

        .reviews_list .review .text img:nth-child(2) {
            margin-left: -30px;
        }

        .reviews_list .review .text .rev,
        #reviews-single-product-tab .review .text .rev{
            position: relative;
            min-height: 17px;
            min-width: 17px;
            width: 17px;
            height: 17px;
            max-width: 17px;
            max-height: 17px;
            box-shadow: none;
            border: none;
            top: -41px;
            left: 18px;
        }

    .reviews_list .review .more{
        position: absolute;
        bottom: 20px;
        right: 25px;
    } 

    .nav.bottom.right {
        margin-top: 20px;
    }    

    
/* --- .reviews-list end --- */

/* --- #questionnaire --- */
.question .title{
    width: 100%;
    display: block;
    border-top: 5px solid #e7111a;
    background-color: #0e0e0e;
    color: white;
    text-indent: 60px;
    height: 38px;
    font-family: "pf_dindisplay_promedium";
    font-size: 18px;  
    font-size: 18rem;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-top: 3px;  
    position: relative;  
    text-transform: none!important;
}

#reviews-single-product-tab .question .title,
.question .no-one.title{
    width: 100%;
    display: block;
    border-top: 5px solid #e7111a;
    background-color: #0e0e0e;
    color: white;
    text-indent: 0px;
    height: 38px;
    font-family: "pf_dindisplay_promedium";
    font-size: 18px;  
    font-size: 18rem;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-top: 3px;  
    position: relative;  
    text-align: center;
    text-transform: none!important;
}

.question .title:before{
    content: counter(section);
    position: absolute;
    background-image: url("../img/circle.png");
    width: 22px;
    height: 22px;
    left: 25px;
    top: 4px;
    color: white;
    text-indent: 6px;
    line-height: 21px;
}

#reviews-single-product-tab .question .title:before,
.question .no-one.title:before { 
    content: none!important;
    text-decoration: none!important;
}

.requir{
    color: #ec1620;
    display: inline!important;
}

.question_row{
    padding: 21px 25px 25px 27px;
    background-color: white;
}

.question{
    counter-increment: section;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
}

    .question label{
        color: #222222;
        font-size: 13px;
        font-size: 13rem;
        font-family: "pf_dindisplay_promedium";
        display: block;
        padding-top: 16px;
    }

    .question label:first-child{
        padding-top: 0px;
    }

    .question .error{
        margin: 0;
        display: inline-block;
        position: relative;
        background-color: #e4f0bb;
        font-size: 12px;
        font-size: 12rem;
        font-family: arial;
        color: #ec1620;
        height: 25px;
        line-height: 25px;
        margin-left: 13px;
        padding: 0 10px;
        font-style: italic;
    }    

    .question .error:before{
        background-image: url(../img/arrows/arrow-green.png);
        width: 5px;
        height: 25px;
        left: -4px;
        position: absolute;
        content: '';
        display: block;
        background-position: 0px 10px;
        background-repeat: no-repeat;
    }

.question input[type="text"],
.question input[type="number"],
.question input[type="email"],
.question input[type="tel"]
{
    padding: 2px 2px 2px 5px;
    width: 232px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #c6c6c6;
    font-family: "pf_dindisplay_promedium";
    color: #6e6e6e;
    font-size: 13px;
    font-size: 13rem;
}

.question input[type="text"]:hover:focus,
.question input[type="number"]:hover:focus,
.question input[type="email"]:hover:focus,
.question input[type="tel"]:hover:focus,
textarea:hover:focus
{
    border: 1px solid #ed1c24!important;
}



select{
    border-outline: none;
}

.question input[type="radio"]{
    display: none;
}

.question select{
    width: 232px;
}

.question-left {
    width: 265px;
    float: left;
}

.question-center {
    width: 175px;
    float: left;
}

.question-right {
    width: 230px;
    float: left;
}

#question_index{
    width: 150px;
}

#question_home,
#question_building{
    width: 60px;
}

#question_storey{
    width: 50px;
}

#question_div_home {
    width: 90px;
    float: left;
}

#question_div_home label,
#question_div_building label,
#question_div_storey label,
#question_div_flat label{
    color: #222222;
    font-size: 13px;
    font-size: 13rem;
    font-family: "pf_dindisplay_promedium";
    display: block;
    padding-top: 16px; 
}

#question_div_storey {
    float: left;
    width: 86px;
}

#question_div_flat{
    width: 144px;
    float: left;
}

#question_flat{
    width: 147px;
}

.question input[type="radio"] + label{
    color: #222222;
    font-family: "pf_dindisplay_proregular";
    font-size: 14px;
    font-size: 14rem;
    position: relative;
    text-indent: 30px;
    padding: 8px 0;
}

.question input[type="radio"] + label:before{
    position: absolute;
    width: 30px;
    display: block;
    height: 16px;
    background-image: url(../img/button/radio.png);
    content: "";
    background-position: 0 -4px;
    background-repeat: no-repeat;
}

.question input[type="radio"]:checked + label:before{
    background-image: url(../img/button/radio-active.png);
    background-position: 3px 0px;
}

#question_comment{
    resize: none;
    width: 445px;
    height: 140px;
    border: 1px solid #c6c6c6;
    padding: 10px 15px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font: 13rem "pf_dindisplay_promedium";
    color: #6e6e6e;
    
}

#question_comment:hover{
    border: 1px solid #ed1c24;
    outline: none;
}

#questionnaire .confirm {
    padding: 20px;
    background: #0e0e0e;    
}

#questionnaire .confirm .question_row{
    background: inherit;   
    color: #959595; 
    padding: 0;
}

#questionnaire .confirm .confirm-left{
    width: 480px;
    float: left;
}

    #questionnaire .confirm span{
        display: block;
    }

#questionnaire .confirm .confirm-right  {
    float: left;
    text-align: right;
    width: 200px;
}  

#questionnaire .confirm input[type="checkbox"]{
    display: none;
}

#questionnaire .confirm input[type="checkbox"] + label{
    font-family: "Tahoma";
    font-size: 12px;
    font-size: 12rem;
    color: #959595;
    position: relative;
    padding-left: 30px;
}

#questionnaire .confirm input[type="checkbox"] + label:before{
    position: absolute;
    width: 16px;
    height: 16px;
    background-image: url(../img/button/radio-squire.png);
    background-position: 0px 0px;
    content: "";
    left: 0;
    top: 0;
}

#questionnaire .confirm input[type="checkbox"]:checked + label:before{
    background-image: url(../img/button/radio-squire-active.png);
    background-position: 0px 0px;
}

#questionnaire .confirm label a{
    color: #009ab2;
}   

#error-confirm{
    color: #ec1620;
    font-size: 11px;
    font-size: 11rem;
    font-family: arial;
    padding-left: 30px;
    font-style: italic;
}

#question_submit{
    width: 200px;
    height: 50px;
    font: 12px "pf_dindisplay_probold";
    font: 12rem "pf_dindisplay_probold";
    color: #ffffff;
    text-transform: uppercase;
}

/* --- #questionnaire end --- */

/* --- table.cart --- */

table.cart{
    background-color: white;
    border: 1px solid #c6c6c6;
    font-weight: normal;
    width: 100%;
}

    table tr{
        border: 1px solid #c6c6c6;
        width: 100%;
    }

        table.cart tr td{
            text-align: center;
            padding: 20px 0;
            -moz-box-sizing: border-box;
            box-sizing: border-box;  
            vertical-align: top;          
        }

        table.cart tr td:first-child{
            padding-left: 30px;
        }

        table.cart tr td:last-child{
            padding-right: 0;
        }

    table tr.product-item:hover{
        background-color: #ebf6ce;
    }

    table tr.product-item:hover span.close{
        background: url(../img/icon/close-red.png) no-repeat 0px 3px;
    }

    table tr.caption-table th{
        color: #222222;
        font: 14px "pf_dindisplay_promedium";
        font: 14rem "pf_dindisplay_promedium";
        font-weight: normal;
        padding: 10px 0;
    }

    .cart td.preview{
        width: 95px;
        text-align: center;
    } 

    .cart td.name{
        width: 170px;
        padding-left:  10px;
        padding-right: 10px;
        text-align: left;       
    }

    .cart td.name a{
        font-family: "pf_dindisplay_proregular";
        font-size: 14px;
        font-size: 14rem;
        color: #009ab2;
        font-weight: normal;
    }

    .cart td.color{ 
        width: 114px;
        text-align: left;
    }

    .cart td.price{
        width: 110px;
        font-family: "pf_dindisplay_probold";
        font-size: 14px;
        font-size: 14rem;
        color: #121212;
        font-weight: normal;
        padding-top: 25px;
    }

    .cart td.count{
        width: 120px;
    }
        td.count .minus{
            background: url(../img/icon/minus.png) no-repeat 0px 12px;
            display: inline-block;
            width: 12px;
            height: 20px;
        }

        td.count input{
            width: 60px;
            text-align: center;
        }

        td.count .plus{
            background: url(../img/icon/plus.png) no-repeat 0px 7px;
            display: inline-block;
            width: 12px;
            height: 20px;
        }

    .cart td.summary{
        width: 90px;
        font-family: "pf_dindisplay_probold";
        font-size: 14px;
        font-size: 14rem;
        color: #121212;
        font-weight: normal; 
        padding-top: 25px;      
    }

    .cart td.close{
        width: 30px;
    }

    .cart td.close span.close{
        background: url(../img/icon/x.png) no-repeat 4px 6px;
        display: inline-block;
        width: 20px;
        height: 20px;
        position: relative;
        top: 3px;
    }

.cart-summary{
    border-top: 2px solid #0e0e0e;
    border-bottom: 2px solid #0e0e0e;
    background: white;
    padding: 20px;
    text-align: right;
}    

    .cart-summary span{
        color: #121212;
        font: 20px "pf_dindisplay_promedium"; 
        font: 20rem "pf_dindisplay_promedium";   
    }

#cart-table-footer{
    background: #0e0e0e;
    padding: 16px 16px 10px 30px;
}    

#cart-table-footer .promo{
    width: 360px;
    float: left;
}

#cart-table-footer .print{
    width: 140px;
    float: left;
    padding-top: 27px;
}

#cart-table-footer .cart-button{
    width: 175px;
    float: right;
  	height: 100%;
}

#cart-table-footer .cart-button input{
    width: 175px;
    height: 50px;
}

#cart-table-footer span{
    color: #a3a3a3;
    font: 12px "pf_dindisplay_promedium";
    font: 12rem "pf_dindisplay_promedium";

}

#cart-table-footer label{
    color: #97ab2e;
    font: 18px "pf_dindisplay_promedium";
    font: 18rem "pf_dindisplay_promedium";
    padding-right: 11px;
    position: relative;
    top: 5px;
    height: 22px;
  	float:left;
}

#cart-table-footer .promo input {
    color: white;
    font: 12px "pf_dindisplay_promedium";
    font: 12rem "pf_dindisplay_promedium";
    background-color: #909090;
    border: none;
    width: 208px;
    line-height: 24px;
    padding-left: 8px;
    position: relative;
    top: 5px;
    margin-bottom: 5px;
    line-height: 27px;
    height: 27px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#cart-table-footer .active{
    color: #ed1c24;
    font: 12px "pf_dindisplay_promedium";
    font: 12rem "pf_dindisplay_promedium";
    margin-left: 110px;
    font-style: italic;
}

#cart-table-footer .print a{
    color: #009ab2;
    font: 13px "pf_dindisplay_proregular";
    font: 13rem "pf_dindisplay_proregular";
    background-image: url(../img/icon/print.png);
    background-repeat: no-repeat;
    padding-left: 16px;
    background-position: 0px 4px;
}
/* --- table.cart end --- */

/* --- #single-product --- */


#single-product-slider{
    width: 275px;
    float: left;
    position: relative;
    margin-TOP: 40px;
}

#current-slide-product-slider{
    background-color: white;
    height: 275px;
    width: 275px;
    position: relative;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

#current-slide-product-slider img {
    max-width: 245px;
}

    #current-slide-product-slider .preview{
        height: 275px;
        text-align: center;
        vertical-align: middle;
        display: table-cell;
        width: 275px;
        overflow: hidden;
    }

        #current-slide-product-slider .preview img{
            max-width: 275px;
            max-height: 275px;
            min-height: 150px;
            min-width: 150px;
        }

    #current-slide-product-slider .lupe{
        position: absolute;
        color: #009ab2;
        font: 13px "arial";
        font: 13rem "arial";
        bottom: 15px;
        left: 25px;
        padding-left: 15px;
        background-image: url(../img/icon/loop-blue.png);
        background-repeat: no-repeat;
        background-position: 0px 3px;
        text-decoration: none;
    }


    #current-slide-product-slider .action{
        position: absolute;
        right: 10px;
        top: 10px;
        z-index: 1;
    }

    #current-slide-product-slider .action .percent {
        background: url("../img/circle-red-big.png") no-repeat scroll 0 0 transparent;
        color: white;
        display: inline-block;
        font-family: "pf_dindisplay_probold";
        font-size: 16px;
        font-size: 16rem;
        height: 34px;
        padding-top: 7px;
        position: relative;
        text-align: center;
        width: 34px;
    }
    
    .single-product-slide{
        float: left;
        margin: 10px 17px 0 0;
        border: 2px solid white;
        width: 76px;
        height: 76px;
        overflow: hidden;
    }

    .single-product-slide:hover{
        border-color: #109fb6;
    }

    .single-product-slide img{
        max-width: 76px;
        max-height: 76px;
        cursor: pointer;
    }

    .single-product-slide:nth-child(3n+0) {
        margin: 10px 0 0;
    }


.breadcrumb-trail a{
    color: rgb(0, 154, 178);
    text-decoration: none;
    font-family: "pf_dindisplay_proregular";
    font-size: 14rem;
}

.breadcrumb-trail .trail-end{
    font-family: "pf_dindisplay_proregular";
    font-size: 14rem;    
}

.breadcrumb-trail .sep{
    padding: 0 5px;
    font-family: "pf_dindisplay_proregular";
    font-size: 14rem;      
}


.arrows-single-product-slider {
    margin-top: 10px;
}

.arrows-single-product-slider .next{
    margin-left: 10px;
}

.single-product-right {
    float: left;
    width: 430px;
    margin-left: 20px;
}

.single-product-right .single-row{
    border-bottom: 1px solid lightgray;
    padding: 15px 0;
    position: relative;
}

.single-product-right .instruct a{
    text-decoration: none;
}

.single-product-right .single-row.icon {
padding: 16px 0 3px!important;
}

.single-product-right .single-row:first-child{
    padding: 0 0 15px;
}

.single-product-right .single-row:last-child{
    border-bottom: none;
}

.single-product-right .single-row.caption .title{
    margin: 0px;
    font: 24px "pf_dindisplay_promedium";
    font: 24rem "pf_dindisplay_promedium";
    width: 315px;
    float: left;
}

.single-product-right .bonus{
    text-align: right;
    text-transform: uppercase;
}

.single-product-right .bonus .hit{
    color: white;
    background: #08c8e0;
    font: 12px "pf_dindisplay_promedium";
    font: 12rem "pf_dindisplay_promedium";
    padding: 2px 5px;
}    

.single-product-right .bonus>img {
    position: relative;
    top: 3px;
}

.single-product-right .bonus .new{
    background: #ffb400;
    font: 12px "pf_dindisplay_promedium";
    font: 12rem "pf_dindisplay_promedium";
    padding: 0 5px;
    color: white;
}

.single-product-right .color{
    color: #747474;
    font: 14px "pf_dindisplay_promedium";
    font: 14rem "pf_dindisplay_promedium";
    display: block;
    float: left;
    width: 100%;
    height: 40px;
}

.single-product-right .color a{
    text-decoration: none;
}

.single-product-right .color .circle{
    width: 34px;
    height: 34px;
    display: inline-block;
    background-image: url("../img/bg/bg-circle.png");
    background-repeat: no-repeat;
}

.single-product-right .color .text {
    margin-left: 0!important;
    border-radius: 0!important;
    -webkit-box-shadow: none!important;
    -moz-box-shadow: none!important;
    box-shadow: none!important;  
    height: 22px!important;
    width: 159px!important;
    position: relative;
    top: -16px;
    border: none!important;
}

.single-product-right .color .text:hover{
    border: none;
}

.single-product-right .color .red{
    background-position: 0 2px;
}

.single-product-right .color .red:hover,
.single-product-right .color .red.current{
    background-position: 0 -41px;
}

.single-product-right .color .beige{
    background-position: -34px 2px;
}

.single-product-right .color .beige:hover,
.single-product-right .color .beige.current{
    background-position: -34px -41px;
}

.single-product-right .color .green{
    background-position: -68px 2px;
}

.single-product-right .color .green:hover,
.single-product-right .color .green.current{
    background-position: -68px -41px;
}

.single-product-right .color .black{
    background-position: -102px  2px;
}

.single-product-right .color .black:hover,
.single-product-right .color .black.current{
    background-position: -102px -41px;
}

#rus_pult{
    position: absolute;
    right: 0;
}


.single-product-right .price del{
    font-size: 24px!important;
    font-size: 24rem!important;
    color: #747474!important;
    font-family: "pf_dindisplay_promedium"!important;
    text-align: right!important;
    text-decoration: line-through!important;
    margin: 0!important;
    width: auto!important;
    position: static!important;
    display: block;
}

.single-product-right .count{
    float: left;
}

.single-product-right .price del{
    font-size: 24rem!important;
    color: #747474!important;
    font-family: "pf_dindisplay_promedium"!important;
    text-align: right!important;
    text-decoration: line-through!important;
    margin: 0!important;
}

.single-product-right .price ins{
    font: 30rem "pf_dindisplay_promedium"!important;
    color: #ed1c24!important;
    margin: 0!important;
    position: static!important;
}



.single-product-right .price{
    width: auto;
}

.single-product-right .quantity{
    width: 30px;
    overflow: hidden;
    border: 1px solid rgb(204, 204, 204);
    display: inline-block;  
    float: left;  
    display: none;
}

.single-row > div > form {
    width: auto;
    display: inline-block;
    position: absolute;
    top: 90px;
    right: 150px;
}
.single-product-right .input-text.qty.text {
    width: 50px;
    border: none;
    text-align: center;

}




.single-product-right .icon div{
    width: 60px;
    height: 50px;
    float: left;
    text-align: center;
    padding: 0 0 10px 10px;
    cursor: pointer;
    
}

.single-product-right .icon .text{
    font-family: "pf_dindisplay_promedium";
    display: inline-block;
    position: relative;
}

.single-product-right .icon .text.podushki{
    left: -10px;
}

.single-product-right .icon .text.podushki .count{
    font-family: "pf_dindisplay_proregular";
    font-weight: bold;
    position: absolute;
    right: 45px;
    text-align: right;
    width: 50px;
}

.single-product-right .icon .text.podushki .name{
    font-size: 8px;
    position: absolute;
    right: 0px;  
}

.single-product-right .icon .text.programm{
    text-align: center;
}

.single-product-right .icon .text.programm .count{
    font-size: 36px;
    font-family: "pf_dindisplay_proregular";
    color: #00aeef;
    display: inline-block;
    text-align: center;
    line-height: 27px;
    width: 100%;
}

.single-product-right .icon .text.programm .text_prog{
    font-size: 10px;
}

.single-product-right .icon .text.line{
    font-size: 12px;
    padding-left: 5px;
    position: relative;
    top: -10px;
}

.single-product-right .icon .text.kg{
    font-size: 12px;
    width: 100%;
}


.fast_buy{
    position: absolute!important;
    top: 90px;
    right: 0px;
    text-transform: uppercase;
    padding: 0 22px;
    font-size: 12px;
    font-size: 12rem;
    font-family: "pf_dindisplay_promedium";
    line-height: 26px;
    height: 26px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: inset 0px 5px 5px rgba(50, 50, 50, 0.6);
    -moz-box-shadow:    inset 0px 5px 5px rgba(50, 50, 50, 0.6);
    box-shadow:         inset 0px 5px 5px rgba(50, 50, 50, 0.6);     
    -webkit-box-shadow: 0px 1px 3px rgba(50, 50, 50, 0.4);
    -moz-box-shadow:    0px 1px 3px rgba(50, 50, 50, 0.4);
    box-shadow:         0px 1px 3px rgba(50, 50, 50, 0.4);    
}

.single-product-right .title{
    display: block;
    font: 18px "pf_dindisplay_promedium";
    font: 18rem "pf_dindisplay_promedium";
}

.single-product-right .instruct img{
    padding: 5px 15px 0 0;
}

.tabs-single-product{
    position: relative;
    margin-top: 50px;
}

.tabs-single-product .tabs{
    border-bottom: 2px solid #ec1921;
}

.tabs-single-product .tabs div{
    float: left;
    font: 12px "pf_dindisplay_probold";
    font: 12rem "pf_dindisplay_probold";
    color: #686868;
    width: 145px;
    text-align: center;
    background: url(../img/tab/tab.png);
    height: 28px;
    line-height: 28px;
    text-transform: uppercase;
    cursor: pointer;
    
}

.tabs-single-product .tabs .single-product-active{
    float: left;
    color: white;
    background: url(../img/tab/tab-active.png);
    cursor: pointer;
}

.about-single-product{
    font: 13rem Arial,sans-serif;
    color: #656569;
    margin: 20px 0;
}

.function-irest {
    width: 400px;
    border: 2px solid #4bc9dd;
    position: relative;
    margin-top: 20px;
}

.function-irest .caption{
    font: 16px "pf_dindisplay_promedium"!important;
    font: 16rem "pf_dindisplay_promedium"!important;
    color: #27282d!important;
    border: 1px solid lightgray!important;
    cursor: auto!important;
}

.function-irest .line{
    display: block;
    font: 12px Arial,sans-serif;
    font: 12rem Arial,sans-serif;
    background-color: #f4f4f4;
    padding: 11px 8px;
    line-height: 14px;
    cursor: pointer;
    color: #43484d;
}

.function-irest .current,
.function-irest .line:not(.caption):hover{
    background: #4bc9dd!important;
    color: white!important;
}

.function-irest .current p{
    color: #43484d!important;
    font-style: italic;
}


.function-irest .line>div,
.function-irest .line>img{
    display: none;
}

.function-irest .current>img{
    position: absolute;
    left: 455px;
    display: inline-block;
}

.function-irest .current>div {
    position: absolute;
    top: 0;
    left: 468px;
    width: 275px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 26px;
    background: white;
    display: block;
}

.function-irest .line>img{
    border: none;
}

.function-irest div>img{
    border: 3px solid lightgray;
}

.function-irest .line:nth-child(even){
    background-color: white;
}

#reviews-single-product-tab .review .text{
    text-indent: -20px;
} 

.requir_reg{
    font-family: 'pf_dindisplay_proregular';
    color: #656569;
}

#reviews-single-product-tab .requir_reg{
    font-family: 'Tahoma';
    font-size: 12px;
    font-size: 12rem;
}

.requir_reg a{
    color: #48bdca;
}

#question_review_comment {
    width: 100%;
    resize: none;
    border: 1px solid lightgray;
    height: 120px;
    outline: none;
    padding-bottom: 30px;
}

.requir_wrap{
    color: #696969;
    font: 12px Tahoma;
    font: 12rem Arial,sans-serif;
    margin-top: 16px;
    position: relative;
    top: 7px;
    line-height: 40px;
}

#question_review_submit {
    padding: 5px 15px;
    margin-top: 16px;
}

.products.also{
    border-top: 1px lightgray solid;
    margin-top: 30px;
}

/* --- #single-product end --- */

/* --- #content end --- */

/* --- section .main end --- */


/* --- footer --- */

footer{
    background-color: #27282d;
    padding-top: 30px;
    padding-bottom: 30px;
}

footer a{
    color: #aacf31;
}

footer>div.row>div{
    float: left;
}

footer .about{
    width: 370px;
}

footer .logo{
    height: 60px;
    width: 300px;
    float: left;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

footer .logo>img{
    height: 39px;
    width: 121px;
}

footer .logo span{
    font-family: Arial;
    font-size: 11px;
    font-size: 11rem;
    color: #a7a7a8;
    display: block;
    white-space: pre;
    line-height: 14rem;
}

footer .social{
    height: 30px;
    width: 300px;
}

footer .social div{
    background-image: url(../img/icon/social-gray.png);
    background-repeat: no-repeat;
    float: left;
    height: 23px;
    margin-right: 7px;
    margin-top: 5px;
    width: 23px;
}

footer .social .fb{
    background-position: 0px 0px;
}

footer .social .vk{
    background-position: -26px 0px;
}

footer .social .yt{
    background-position: -53px 0px;
}

footer .social .tw{
    background-position: -80px 0px;
}

footer .contact {
    width: 190px;
}

footer .contact span{
    display: inline-block;
    font-family: "pf_dindisplay_proregular";
    color: #d5d5d5;
}

footer .billing{
    width: 240px;;
}

footer .billing a{
    display: inline-block;
}

footer .callback{
    width: 200px;
    text-align: right;
}

footer .callback span, footer .callback a{
    width: 100%;
    display: inline-block;
}

footer .callback .phone a{
    font-family: "pf_dindisplay_promedium";
    font-size: 20px;
    font-size: 20rem;
    text-decoration: none;
    color: white;
}

footer .callback .free{
    font-family: "pf_dindisplay_proregular";
    color: #d5d5d5;
    font-size: 14px;
    font-size: 14rem;
}

footer .callback .mapsite{
    background-repeat: no-repeat;
    font-family: "pf_dindisplay_proregular";
    font-size: 13px;
    font-size: 13rem;
    color: #a7a7a8;
}

.mapsite img {
    position: relative;
    top: 3px;
    right: 3px;
}

/* --- footer end --- */
.wrapper.line.white {
    border-bottom: 3px solid black;
    height: 21px;
}

/* --- #callback --- */
#callback{
    width: 180px;
    text-align: center;
    display: none;
}

#callback input{
    width: 150px;
}

#callback input[type="button"]{
    margin-top: 15px;
}

/* --- #callback end --- */

/* --- кнопка купить .buy --- */

/* --- .buy end --- */


/* --- system style --- */

.display-none{
    display: none;
}

.clearfix:after {
    content:'.';
    clear:both;
    display:block;
    height:0;
    font-size:0;
    visibility:hidden
}
.clearfix {display:inline-block}
/* Хак для IE 6 и 7 спрятанный от IE-mac \*/
* html .clearfix {height:1%}
.clearfix {display:block}
/* Конец хака */

.clear{
    clear: both;
}

.left{
    float: left;
}

.right{
    float: right;
}

.button{
    border: none;
    border-radius: 2px;
    position: relative;
    z-index: 10; 
    display: inline-block;   
}

.white-gr{
    background: #1e5799; /* Old browsers */
    background: -moz-linear-gradient(top, #1e5799 0%, #fefefe 0%, #dfdfdf 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1e5799), color-stop(0%,#fefefe), color-stop(100%,#dfdfdf)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #1e5799 0%,#fefefe 0%,#dfdfdf 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #1e5799 0%,#fefefe 0%,#dfdfdf 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #1e5799 0%,#fefefe 0%,#dfdfdf 100%); /* IE10+ */
    background: linear-gradient(to bottom, #1e5799 0%,#fefefe 0%,#dfdfdf 100%); /* W3C */
}

.button.more{
    padding: 6px 15px;
    font: 12px "pf_dindisplay_promedium";
    font: 12rem "pf_dindisplay_promedium";
    color: white;
	width:100%;
}

.button.blue{
    color: white;
    background: #1fc6d9; /* Old browsers */
    background: -moz-linear-gradient(top, #1fc6d9 0%, #1bafc0 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1fc6d9), color-stop(100%,#1bafc0)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #1fc6d9 0%,#1bafc0 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #1fc6d9 0%,#1bafc0 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #1fc6d9 0%,#1bafc0 100%); /* IE10+ */
    background: linear-gradient(to bottom, #1fc6d9 0%,#1bafc0 100%); /* W3C */
}

.button.blue:hover{
    background: #1bafc0; /* Old browsers */
    background: -moz-linear-gradient(top, #1bafc0 0%, #1fc6d9 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1bafc0), color-stop(100%,#1fc6d9)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #1bafc0 0%,#1fc6d9 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #1bafc0 0%,#1fc6d9 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #1bafc0 0%,#1fc6d9 100%); /* IE10+ */
    background: linear-gradient(to bottom, #1bafc0 0%,#1fc6d9 100%); /* W3C */
}

/** for partners **/
.button.blue.partner {
    height: 30px;
	margin: 5px 30%;
	width: 38%;
	vertical-align: baseline;
	font-size: 11px;
	font-weight: bold;
	text-transform: uppercase;
	padding-top: 9px;
	box-sizing: border-box;
	text-decoration: none;
  	text-align: center;
	text-indent: 0;
}

.button.blue.partner:hover {
    text-decoration: underline;
}

.button.red{
    color: white;
    background: #ed1c24; /* Old browsers */
    background: -moz-linear-gradient(top, #ed1c24 0%, #dd010a 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ed1c24), color-stop(100%,#dd010a)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ed1c24 0%,#dd010a 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ed1c24 0%,#dd010a 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ed1c24 0%,#dd010a 100%); /* IE10+ */
    background: linear-gradient(to bottom, #ed1c24 0%,#dd010a 100%); /* W3C */
}

.button.red:hover, .button.red:focus{
        background: #dd010a; /* Old browsers */
        background: -moz-linear-gradient(top, #dd010a 0%, #ed1c24 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dd010a), color-stop(100%,#ed1c24)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, #dd010a 0%,#ed1c24 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, #dd010a 0%,#ed1c24 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top, #dd010a 0%,#ed1c24 100%); /* IE10+ */
        background: linear-gradient(to bottom, #dd010a 0%,#ed1c24 100%); /* W3C */
}

.button.green{
    background: #a2c836;
    background: -moz-linear-gradient(top, #a2c836 0%, #6fa312 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a2c836), color-stop(100%,#6fa312));
    background: -webkit-linear-gradient(top, #a2c836 0%,#6fa312 100%);
    background: -o-linear-gradient(top, #a2c836 0%,#6fa312 100%);
    background: -ms-linear-gradient(top, #a2c836 0%,#6fa312 100%);
    background: linear-gradient(to bottom, #a2c836 0%,#6fa312 100%);
}

.button.green:hover,.button.green:focus {
    background: #6fa312;
    background: -moz-linear-gradient(top, #6fa312 0%, #a2c836 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6fa312), color-stop(100%,#a2c836));
    background: -webkit-linear-gradient(top, #6fa312 0%,#a2c836 100%);
    background: -o-linear-gradient(top, #6fa312 0%,#a2c836 100%);
    background: -ms-linear-gradient(top, #6fa312 0%,#a2c836 100%);
    background: linear-gradient(to bottom, #6fa312 0%,#a2c836 100%);
}

.modalbox{
    text-decoration: none;
}

#tablet_sidebar{
    display: none;
}

#top_menu_fix{
    position: fixed;
    width: 100%;
    background-color: #f1f1f2;
    border-bottom: 2px solid #B0B5B8;   
    z-index: 99;
}

.white-space_pre{
    white-space: pre;
}

:focus{
    outline: none;
}

#d3{
    padding-left: 15px;
    border-left: 1px solid lightgray;
    padding-top: 0!important;
}

#label-fix{
    padding-top: 9px;
}

/* --- system style end --- */

/* --- modalbox --- */

#modal_rev{
    display: none;
}

.form.modal{
    text-align: center;
    width: 160px;
}

.form.modal input{
    width: 120px;
    display: block;
    margin: 0 auto;
}

.form.modal input.button{
    display: inline-block;
    width: 150px;
    margin: 10px 0;
}

.form.modal label {
    line-height: 30rem;
}
 
.form.modal a{
    color: #1bafc0;
}
/* --- modalbox end --- */

#layout header{
    display: none;
}


.comment-form-comment #comment{
    width: 232px;
}

.woocommerce-message {
    background: rgb(237, 28, 36);
    color: white;
    z-index: 99;
    top: 265px;
    left: 850px;
    position: absolute;
    margin-left: -130px;
    width: 243px;
    padding: 10px;
    background: #ed1c24; /* Old browsers */
    background: -moz-linear-gradient(top, #ed1c24 0%, #dd010a 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ed1c24), color-stop(100%,#dd010a)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ed1c24 0%,#dd010a 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ed1c24 0%,#dd010a 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ed1c24 0%,#dd010a 100%); /* IE10+ */
    background: linear-gradient(to bottom, #ed1c24 0%,#dd010a 100%); /* W3C */
}

.woocommerce-message a{
    color: white;
    text-decoration: none;
}

a.added_to_cart {
  	width: 124px;
	font-size: 11px;
	margin-left: -38px;
	display: inline-block;
	text-decoration: underline;
  	color:#000 !important;
}

a.added_to_cart:hover {
  color:#000 !important;
}
