<form method='post' action='success.php' accept-charset='UTF-8'>
<input name='WMI_MERCHANT_ID'  type='hidden'   value='131378830381'/>
<input name='WMI_PAYMENT_AMOUNT' type='hidden'  value='1.00'/>
<input name='WMI_ORDER_STATE'  type='hidden'   value='ACCEPTED'/>
<input name='WMI_PAYMENT_NO'  type='hidden'   value='30'/>
<input name='WMI_DESCRIPTION'  type='hidden'  value='Покупка баксов в игре Битва олигархов'/>
<input type='submit' value='Перейти к оплате'/>
</form>
